In [1]:
import numpy as np
import pandas as pd

In [2]:
# ocupa 80% ou mais do tempo de um analista

In [3]:
# Tratando dados ausentes

In [7]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado']) # o valor nan é conhecido como valor sentinela
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [8]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [9]:
string_data[0] = None

In [10]:
string_data.isnull() # o valor None é conhecido também como valor nan

0     True
1    False
2     True
3    False
dtype: bool

In [12]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [14]:
string_data.dropna() # pega somente os valores que não são nan

1    artichoke
3      avocado
dtype: object

In [18]:
string_data.fillna('fill') # preenche os nan

0         fill
1    artichoke
2         fill
3      avocado
dtype: object

In [19]:
string_data.fillna('bfill') # preenche os nan

0        bfill
1    artichoke
2        bfill
3      avocado
dtype: object

In [20]:
string_data.notnull()

0    False
1     True
2    False
3     True
dtype: bool

In [21]:
# Filtrando dados ausentes

In [6]:
from numpy import nan as NA

In [23]:
data = pd.Series([1, NA, 3.5, NA, 7])

In [24]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [26]:
data.dropna() # equivalente a função de baixo

0    1.0
2    3.5
4    7.0
dtype: float64

In [27]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [7]:
data = pd.DataFrame([[1., 6.5, 3.], [1, NA, NA],
                    [NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [8]:
data.dropna() # se tiver apenas um valor NA ele já não pega mais

     0    1    2
0  1.0  6.5  3.0

In [9]:
data.dropna(how='all') # apenas as colunas que contenham somente NAs

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [14]:
data[4] = NA # quarta coluna vira tudo NA

In [15]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [16]:
data.dropna(how="all", axis=1)

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [17]:
df = pd.DataFrame(np.random.randn(7, 3))

In [18]:
df

          0         1         2
0  1.234570  0.667491 -1.083025
1  1.779963 -0.136033  0.038459
2 -0.927562  0.880371  0.471582
3 -0.416527  1.479074 -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [19]:
df.iloc[:4, 1] = NA
df

          0         1         2
0  1.234570       NaN -1.083025
1  1.779963       NaN  0.038459
2 -0.927562       NaN  0.471582
3 -0.416527       NaN -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [20]:
df.iloc[:2, 2] = NA
df

          0         1         2
0  1.234570       NaN       NaN
1  1.779963       NaN       NaN
2 -0.927562       NaN  0.471582
3 -0.416527       NaN -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [23]:
df.dropna(thresh=2) # removeu os ultimos

          0         1         2
2 -0.927562       NaN  0.471582
3 -0.416527       NaN -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [24]:
df

          0         1         2
0  1.234570       NaN       NaN
1  1.779963       NaN       NaN
2 -0.927562       NaN  0.471582
3 -0.416527       NaN -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [26]:
df.iloc[0, 0] = NA
df

          0         1         2
0       NaN       NaN       NaN
1  1.779963       NaN       NaN
2 -0.927562       NaN  0.471582
3 -0.416527       NaN -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [28]:
df.dropna(thresh=1) # remove 1 em todos os NaN cuidado com o axis default

          0         1         2
1  1.779963       NaN       NaN
2 -0.927562       NaN  0.471582
3 -0.416527       NaN -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [30]:
df.dropna() # pega só os puros, linha e coluna sem na

          0         1         2
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [31]:
# Preenchendo dados ausentes

In [32]:
df.fillna(0)

          0         1         2
0  0.000000  0.000000  0.000000
1  1.779963  0.000000  0.000000
2 -0.927562  0.000000  0.471582
3 -0.416527  0.000000 -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [33]:
df.fillna({0: 0.5, 1: 0.5, 2: 0}) # o que quer fazer atráves das colunas

          0         1         2
0  0.500000  0.500000  0.000000
1  1.779963  0.500000  0.000000
2 -0.927562  0.500000  0.471582
3 -0.416527  0.500000 -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [37]:
_ = df.fillna(0, inplace=True) #  inplace True, ou seja os valores modificam permanente

In [38]:
df

          0         1         2
0  0.000000  0.000000  0.000000
1  1.779963  0.000000  0.000000
2 -0.927562  0.000000  0.471582
3 -0.416527  0.000000 -0.499527
4 -1.960035 -0.250509 -0.809780
5  1.332815  0.341067  0.244641
6  1.029540  1.337191 -0.917586

In [39]:
df = pd.DataFrame(np.random.randn(6, 3))
df

          0         1         2
0  0.743370  0.934751  1.297001
1 -1.206709 -0.801806  0.001480
2 -0.288961 -0.487732 -0.325912
3 -1.325775  1.238328  0.541716
4  0.391746  2.055831 -0.052300
5  1.548932 -0.134037  1.163274

In [41]:
df.iloc[2:, 1] = NA
df

          0         1         2
0  0.743370  0.934751  1.297001
1 -1.206709 -0.801806  0.001480
2 -0.288961       NaN -0.325912
3 -1.325775       NaN  0.541716
4  0.391746       NaN -0.052300
5  1.548932       NaN  1.163274

In [42]:
df.iloc[4:, 2] = NA
df

          0         1         2
0  0.743370  0.934751  1.297001
1 -1.206709 -0.801806  0.001480
2 -0.288961       NaN -0.325912
3 -1.325775       NaN  0.541716
4  0.391746       NaN       NaN
5  1.548932       NaN       NaN

In [45]:
df.fillna(method='ffill') # na coluna o ultimo valor acima de nan, copia ele

          0         1         2
0  0.743370  0.934751  1.297001
1 -1.206709 -0.801806  0.001480
2 -0.288961 -0.801806 -0.325912
3 -1.325775 -0.801806  0.541716
4  0.391746 -0.801806  0.541716
5  1.548932 -0.801806  0.541716

In [47]:
df

          0         1         2
0  0.743370  0.934751  1.297001
1 -1.206709 -0.801806  0.001480
2 -0.288961       NaN -0.325912
3 -1.325775       NaN  0.541716
4  0.391746       NaN       NaN
5  1.548932       NaN       NaN

In [48]:
df.fillna(method='ffill', limit=2) # os dois primeiros da coluna

          0         1         2
0  0.743370  0.934751  1.297001
1 -1.206709 -0.801806  0.001480
2 -0.288961 -0.801806 -0.325912
3 -1.325775 -0.801806  0.541716
4  0.391746       NaN  0.541716
5  1.548932       NaN  0.541716

In [49]:
data = pd.Series([1., NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [50]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [51]:
# Transformação de dados

In [52]:
# removendo duplicatas

In [54]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                    'k2': [1, 1, 2, 3, 3, 4, 4]})

In [55]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [58]:
data.duplicated() # linha com valores iguais ambas

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [61]:
data.drop_duplicates() # remove linhas duplicadas

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [62]:
data['v1'] = range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [63]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [65]:
data['k1']

0    one
1    two
2    one
3    two
4    one
5    two
6    two
Name: k1, dtype: object

In [66]:
data['k1'].duplicated()

0    False
1    False
2     True
3     True
4     True
5     True
6     True
Name: k1, dtype: bool

In [68]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [71]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [74]:
data.drop_duplicates(['k1', 'k2'], keep='last') # devolverá a ultima

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [78]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                    'k2': [1, 1, 2, 3, 3, 4, 4]})

In [79]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [80]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [84]:
data.drop_duplicates() # linha 79

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [85]:
# Transformando dados usando uma função ou mapeamento

In [86]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                             'Pastrami', 'corned beef', 'Bacon',
                             'pastrami', 'honey ham', 'nova lox'],
                    'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [96]:
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}
meat_to_animal

{'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'}

In [97]:
lowercased = data['food'].str.lower()
lowercased # o Bacon virou bacon

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [100]:
lowercased.map(meat_to_animal)

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [103]:
data['animal'] = lowercased.map(meat_to_animal) 
# faz entender um e o outro ex bacon é pig, como que é o lowercased que está fazendo
# o map, ou seja o bacon do lowercased é igual o bacon do meat_to_animal que é um pig
# lowercased bacon = bacon do meat_to_animal é : pig, com isso reconhece sempre que aparecer um lowercased colocar um pig

In [104]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [105]:
meat_to_animal

{'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'}

In [102]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [109]:
meat_to_animal

{'bacon': 'pig',
 'pulled pork': 'pig',
 'pastrami': 'cow',
 'corned beef': 'cow',
 'honey ham': 'pig',
 'nova lox': 'salmon'}

In [110]:
data['food']

0          bacon
1    pulled pork
2          bacon
3       Pastrami
4    corned beef
5          Bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [118]:
data['food'].map(lambda x: meat_to_animal[x.lower()]) # é igual a do 117 porém mais dificil

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [119]:
meat_to_animal['bacon'] # entendeu ?

'pig'

In [120]:
lowercased.map(meat_to_animal)

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [2]:
# map é uma forma conveninete de fazer transformações em todos os elementos e executar outras operações relacionadas à limpeza
# de dado

In [3]:
# Substituindo valores

In [4]:
# fillna é um caso especial da substituição mais genérica de valores
# replace é mais simples e mais flexível
data = pd.Series([1., -999., 2., -999, -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [5]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [6]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [7]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [8]:
data.replace([-999, -1000], [np.nan, 0]) # valores combinados

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [9]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [10]:
# Renomeando os índices dos eixos

In [12]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                   index=['Ohio', 'Colorado', 'New York'],
                   columns=['one', 'two', 'three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [13]:
transform = lambda x: x[:4].upper()

In [16]:
data.index

Index(['Ohio', 'Colorado', 'New York'], dtype='object')

In [18]:
data.index.map(transform) # .map passa os dados da data para o transform

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [20]:
data.rename(index=str.title, columns=str.upper) # mais eficaz

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [21]:
data.rename(index={'OHIO': 'INDIANA'},
           columns={'three': 'peekaboo'})

          one  two  peekaboo  four
Ohio        0    1         2     3
Colorado    4    5         6     7
New York    8    9        10    11

In [24]:
data.rename(index={'Ohio': 'INDIANA'}, inplace=True)

In [25]:
data

          one  two  three  four
INDIANA     0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [28]:
data.replace(0, np.nan)

          one  two  three  four
INDIANA   NaN    1      2     3
Colorado  4.0    5      6     7
New York  8.0    9     10    11

In [29]:
data.replace([4, 8, 1], np.nan)

          one  two  three  four
INDIANA   0.0  NaN    2.0   3.0
Colorado  NaN  5.0    6.0   7.0
New York  NaN  9.0   10.0  11.0

In [30]:
data.replace({5: 10, 6: 12})

          one  two  three  four
INDIANA     0    1      2     3
Colorado    4   10     12     7
New York    8    9     10    11

In [32]:
data.rename(index=str.title, columns=str.title)

          One  Two  Three  Four
Indiana     0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [38]:
data.rename(index={'Colorado': 'um'})

          one  two  three  four
INDIANA     0    1      2     3
um          4    5      6     7
New York    8    9     10    11

In [39]:
# Discretização e compartimentalização (binning)

In [51]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
ages

[20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [52]:
bins = [18, 25, 35, 60, 100] # compartimentos 18 a 25, 25 -35

In [54]:
cats = pd.cut(ages, bins) 
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [46]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [55]:
cats.categories # categorias

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [56]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [58]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [59]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

In [60]:
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [61]:
data = np.random.rand(20)
data

array([0.6882258 , 0.89030216, 0.56126291, 0.66594139, 0.64457743,
       0.95371133, 0.75124745, 0.53377201, 0.33719533, 0.24348715,
       0.23046879, 0.84179093, 0.68331511, 0.59509341, 0.16456724,
       0.94973819, 0.6760872 , 0.24586152, 0.29165011, 0.30082248])

In [67]:
eu = pd.cut(data, 4, precision=2) # 4 é a quantidade na lista - precision limita a precisão decimal em dois
eu

[(0.56, 0.76], (0.76, 0.95], (0.56, 0.76], (0.56, 0.76], (0.56, 0.76], ..., (0.76, 0.95], (0.56, 0.76], (0.16, 0.36], (0.16, 0.36], (0.16, 0.36]]
Length: 20
Categories (4, interval[float64]): [(0.16, 0.36] < (0.36, 0.56] < (0.56, 0.76] < (0.76, 0.95]]

In [68]:
eu.codes

array([2, 3, 2, 2, 2, 3, 2, 1, 0, 0, 0, 3, 2, 2, 0, 3, 2, 0, 0, 0],
      dtype=int8)

In [69]:
eu.categories

IntervalIndex([(0.16, 0.36], (0.36, 0.56], (0.56, 0.76], (0.76, 0.95]],
              closed='right',
              dtype='interval[float64]')

In [72]:
data = np.random.randn(1000)

In [73]:
cats = pd.qcut(data, 4) # separa em quantis

In [74]:
cats

[(0.0391, 0.688], (0.688, 3.005], (0.688, 3.005], (0.688, 3.005], (0.688, 3.005], ..., (-0.597, 0.0391], (-0.597, 0.0391], (0.688, 3.005], (0.0391, 0.688], (-2.997, -0.597]]
Length: 1000
Categories (4, interval[float64]): [(-2.997, -0.597] < (-0.597, 0.0391] < (0.0391, 0.688] < (0.688, 3.005]]

In [75]:
pd.value_counts(cats)

(-2.997, -0.597]    250
(-0.597, 0.0391]    250
(0.0391, 0.688]     250
(0.688, 3.005]      250
dtype: int64

In [77]:
# Detectando e filtrando valores discrepantes

In [78]:
# filtrar ou transforamr valores discrepantes (outliears) boa medida

In [114]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.head()

          0         1         2         3
0  1.483701  0.785224  0.366769  1.232474
1 -1.191587 -0.918006  1.069292 -1.092549
2 -0.736309  0.230506 -0.786520 -0.800787
3  0.624277 -0.001140 -1.255224 -0.543949
4  1.535033 -0.503506  0.011733 -0.103335

In [115]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.010466     0.012845     0.063313    -0.018463
std       1.046467     1.015031     0.992608     0.998978
min      -3.630551    -3.097138    -3.053478    -3.187273
25%      -0.708967    -0.660826    -0.598896    -0.674596
50%       0.011053    -0.014310     0.037784    -0.011001
75%       0.669751     0.719514     0.707427     0.655272
max       3.836874     3.989588     3.218805     3.156967

In [116]:
col = data[2]

In [117]:
col[np.abs(col) > 3]

468    3.218805
518   -3.053478
Name: 2, dtype: float64

In [118]:
np.abs(data) # negativo fica positivo

            0         1         2         3
0    1.483701  0.785224  0.366769  1.232474
1    1.191587  0.918006  1.069292  1.092549
2    0.736309  0.230506  0.786520  0.800787
3    0.624277  0.001140  1.255224  0.543949
4    1.535033  0.503506  0.011733  0.103335
..        ...       ...       ...       ...
995  0.128213  2.162633  0.077623  0.417128
996  0.212533  1.429249  0.506065  0.325363
997  1.535269  0.432098  1.190321  1.755394
998  0.020202  0.879108  0.886537  0.327708
999  0.766192  0.029471  0.365039  0.575274

[1000 rows x 4 columns]

In [120]:
np.sign(data)

       0    1    2    3
0    1.0  1.0  1.0  1.0
1   -1.0 -1.0  1.0 -1.0
2   -1.0  1.0 -1.0 -1.0
3    1.0 -1.0 -1.0 -1.0
4    1.0 -1.0  1.0 -1.0
..   ...  ...  ...  ...
995  1.0 -1.0 -1.0  1.0
996  1.0 -1.0 -1.0  1.0
997 -1.0  1.0 -1.0  1.0
998  1.0  1.0 -1.0  1.0
999  1.0 -1.0 -1.0 -1.0

[1000 rows x 4 columns]

In [121]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
27   1.387915  0.516895 -0.068040 -3.109820
48   3.701881  1.299878  0.544193  0.434512
341 -2.090087 -0.493915 -0.386159 -3.187273
381  1.171557  3.989588 -0.238444  1.023029
387  3.125334 -0.243941 -0.036583 -0.705932
396 -0.245945  3.215629  0.647755  0.248314
421  0.638255  0.324986  0.313245  3.156967
446  3.836874 -0.340686 -0.906307  0.558456
468  0.879201  3.493451  3.218805  0.907881
518 -1.477935 -0.730204 -3.053478 -0.774762
547 -0.225137 -3.097138  0.554454 -0.491775
608 -3.630551 -1.171307 -1.068346  0.801989
882  3.804921 -0.655269 -0.377006  0.517735

In [122]:
data

            0         1         2         3
0    1.483701  0.785224  0.366769  1.232474
1   -1.191587 -0.918006  1.069292 -1.092549
2   -0.736309  0.230506 -0.786520 -0.800787
3    0.624277 -0.001140 -1.255224 -0.543949
4    1.535033 -0.503506  0.011733 -0.103335
..        ...       ...       ...       ...
995  0.128213 -2.162633 -0.077623  0.417128
996  0.212533 -1.429249 -0.506065  0.325363
997 -1.535269  0.432098 -1.190321  1.755394
998  0.020202  0.879108 -0.886537  0.327708
999  0.766192 -0.029471 -0.365039 -0.575274

[1000 rows x 4 columns]

In [123]:
data[np.abs(data) > 3] = np.sign(data) * 3 
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.012305     0.011244     0.063148    -0.018323
std       1.036426     1.009089     0.991769     0.997579
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.708967    -0.660826    -0.598896    -0.674596
50%       0.011053    -0.014310     0.037784    -0.011001
75%       0.669751     0.719514     0.707427     0.655272
max       3.000000     3.000000     3.000000     3.000000

In [127]:
# np.sign() tudo que é valor vira 1

In [129]:
lista =[2, 3,41, 2,3 ,45]

In [130]:
np.sign(lista)

array([1, 1, 1, 1, 1, 1])

In [131]:
# np.abs() positivo vira negativo

In [2]:
# Permutação e amostragem aleatória

In [3]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [7]:
sampler = np.random.permutation(5)
sampler

array([1, 4, 2, 3, 0])

In [12]:
dados = [1, 2, 3, 6]
dados

[1, 2, 3, 6]

In [17]:
np.random.permutation(dados) # shift + enter vai modificando

array([2, 1, 6, 3])

In [18]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [19]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3

In [21]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
3  12  13  14  15
0   0   1   2   3

In [28]:
df.sample(n=3) # pega amostragem de 3 linhas - shift + enter para mudar

    0   1   2   3
3  12  13  14  15
4  16  17  18  19
2   8   9  10  11

In [29]:
choices = pd.Series([5, 7, -1, 6, 4])
choices

0    5
1    7
2   -1
3    6
4    4
dtype: int64

In [33]:
draws = choices.sample(n=10, replace=True) # pega mais que o limite e pode repetir
draws

0    5
3    6
2   -1
4    4
1    7
3    6
4    4
1    7
4    4
1    7
dtype: int64

In [34]:
# Calculando variáveis indicadoras / dummy

In [35]:
# aprendizado de máquina (machine learning) consiste em conveter uma váriavel de categorais em uma matriz "dummy" ou "indicadora"

In [119]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                  'data1': [1, 2, 1, 14, 5, 6]})
df

  key  data1
0   b      1
1   b      2
2   a      1
3   c     14
4   a      5
5   b      6

In [121]:
pd.get_dummies(df['key']) # adiciona 1 em todos os elementos que o df tem acima exemplo b 0, logo embaixo a coluna
# b e a linha 0 possui 1

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [39]:
dummies = pd.get_dummies(df['key'], prefix='key')
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [7]:
mnames = ['movie_id', 'title', 'genres']
mnames

['movie_id', 'title', 'genres']

In [9]:
movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)
movies

<ipython-input-9-6a6b589583b4>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [10]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [22]:
all_genres = []
for x in movies.genres:
    print(x)

Animation|Children's|Comedy
Adventure|Children's|Fantasy
Comedy|Romance
Comedy|Drama
Comedy
Action|Crime|Thriller
Comedy|Romance
Adventure|Children's
Action
Action|Adventure|Thriller
Comedy|Drama|Romance
Comedy|Horror
Animation|Children's
Drama
Action|Adventure|Romance
Drama|Thriller
Drama|Romance
Thriller
Comedy
Action
Action|Comedy|Drama
Crime|Drama|Thriller
Thriller
Drama|Sci-Fi
Drama|Romance
Drama
Drama
Romance
Adventure|Sci-Fi
Drama
Drama
Drama|Sci-Fi
Adventure|Romance
Children's|Comedy|Drama
Drama|Romance
Drama
Documentary
Comedy
Comedy|Romance
Drama
Drama|War
Action|Crime|Drama
Drama
Action|Adventure
Comedy|Drama
Drama|Romance
Crime|Thriller
Animation|Children's|Musical|Romance
Drama|Romance
Crime|Thriller
Action|Drama|Thriller
Comedy
Drama
Children's|Comedy
Drama
Adventure|Children's|Fantasy
Drama
Drama|Romance
Drama|Mystery
Adventure|Children's|Fantasy
Drama|Thriller
Drama
Comedy
Comedy|Romance
Comedy
Sci-Fi|Thriller
Drama
Comedy|Romance
Comedy
Action|Comedy|Crime|Horror|Thriller
Action
Comedy|Drama
Drama|Musical
Drama|Romance
Comedy|Drama
Sci-Fi|Thriller
Documentary
Drama
Drama|Thriller
Drama
Crime|Drama|Romance
Drama
Drama
Comedy|Drama
Drama|Romance
Adventure|Drama
Children's|Comedy
Comedy
Action|Thriller
Drama
Drama|Thriller
Comedy|Romance
Drama
Action|Thriller
Comedy
Drama
Action|Thriller
Documentary
Drama|Thriller
Comedy
Comedy
Thriller
Comedy
Drama|Romance
Comedy|Drama
Adventure|Children's|Comedy|Musical
Documentary
Comedy
Action|Drama|War
Drama|Thriller
Action|Adventure|Crime
Drama|Mystery
Drama
Comedy
Documentary
Crime
Comedy|Romance
Comedy
Drama
Drama
Comedy|Romance
Drama|Mystery|Romance
Drama
Comedy
Adventure|Children's|Fantasy
Drama
Documentary
Comedy|Romance
Drama
Drama|Romance
Thriller
Comedy|Drama
Documentary
Comedy
Documentary
Documentary
Drama
Action|Drama
Drama|Romance
Comedy
Drama
Drama
Comedy
Action
Adventure|Children's
Drama
Drama
Crime|Drama|Thriller
Drama
Drama|Romance|War
Horror
Action|Adventure|Comedy|Crime
Drama
Drama|War
Comedy
Comedy|War
Adventure|Children's
Drama
Action|Adventure|Mystery|Sci-Fi
Drama|Thriller|War
Documentary
Action|Romance|Thriller
Crime|Film-Noir|Mystery|Thriller
Action|Thriller
Comedy|Drama
Drama
Action|Adventure|Drama|Romance
Adventure|Children's|Drama
Action|Crime|Thriller
Comedy
Action|Sci-Fi|Thriller
Action|Adventure|Sci-Fi
Comedy
Drama
Comedy
Horror
Comedy
Drama|Romance
Comedy
Action|Children's
Drama|Romance
Thriller
Drama
Sci-Fi|Thriller
Comedy
Comedy
Horror
Comedy
Thriller
Drama
Documentary
Drama
Drama
Comedy|Drama|Romance
Horror|Sci-Fi
Drama
Action|Crime|Sci-Fi
Drama|Musical
Thriller
Drama
Drama|Romance
Comedy
Action
Comedy|Drama
Documentary
Drama|Romance
Action|Adventure
Drama
Western
Drama
Comedy
Drama
Drama
Drama|Romance
Comedy
Drama|Thriller
Comedy|Drama
Drama
Horror
Drama|Romance
Comedy
Comedy|Drama|Romance
Drama|Thriller
Thriller
Action
Comedy
Drama|Thriller
Drama|Thriller
Comedy
Comedy|Drama
Drama
Comedy
Comedy|Drama
Comedy|Romance
Comedy|Romance
Adventure|Children's
Animation|Children's|Comedy|Romance
Thriller
Children's|Drama
Drama|Musical
Comedy
Animation|Children's
Crime|Drama
Documentary
Drama|Fantasy|Romance|Thriller
Comedy
Drama|Romance
Children's|Comedy
Action
Comedy|Romance
Drama|Horror
Drama
Comedy
Comedy|Sci-Fi
Mystery|Thriller
Adventure|Children's|Comedy|Fantasy|Romance
Crime|Drama|Thriller
Action|Adventure|Fantasy|Sci-Fi
Drama
Children's|Drama
Drama
Drama
Drama|Romance
Drama|Romance|War|Western
Comedy
Drama
Drama
Drama|Romance
Drama
Drama
Drama|Horror
Comedy
Comedy
Comedy|Romance
Drama
Comedy
Drama
Drama|Thriller
Drama
Drama
Crime|Drama
Action|Crime
Drama|Horror
Action|Sci-Fi|Thriller
Comedy|Romance
Action|Thriller
Comedy|Romance
Crime|Drama
Thriller
Action|Drama|Thriller
Crime|Drama|Romance|Thriller
Comedy|Romance
Comedy|Romance
Crime|Drama
Drama
Comedy
Drama
Drama
Drama|Romance
Drama|Romance
Action|Adventure|Western
Comedy|Drama
Comedy
Drama
Drama
Drama
Drama
Comedy
Horror|Thriller
Comedy
Animation|Children's
Drama
Action
Action|Adventure|Sci-Fi
Children's|Comedy|Fantasy
Drama
Thriller
Film-Noir|Thriller
Drama
Comedy|Drama
Comedy
Comedy
Drama
Action|Comedy|Musical|Sci-Fi
Horror
Action|Adventure|Sci-Fi
Comedy|Horror
Drama
Horror|Sci-Fi
Comedy
Drama
Mystery|Thriller
Drama|War
Drama
Sci-Fi|Thriller
Comedy|Romance
Adventure|Drama
Drama
Comedy|Romance
Children's
Comedy
Comedy|Drama
Drama|Musical
Drama
Comedy
Action|Adventure|Thriller
Drama|Mystery|Thriller
Comedy|Drama|Romance
Comedy
Action|Romance|Thriller
Drama
Children's|Comedy
Comedy|Romance|War
Comedy|Romance
Drama
Comedy|Drama|Romance
Action|Comedy
Drama|Romance
Adventure|Children's|Romance
Documentary
Animation|Children's|Musical
Drama
Horror
Comedy|Crime|Fantasy
Action|Comedy|Western
Drama
Comedy
Comedy|Drama
Comedy|Drama
Thriller
Children's|Comedy
Drama
Action|Thriller
Action|Romance|Thriller
Comedy|Romance
Action|Sci-Fi
Action|Adventure|Comedy|Romance
Drama
Drama|Horror
Western
Action
Drama
Drama
Action|Comedy
Drama
Drama|Romance|War
Action|Comedy|Drama
Crime|Drama
Adventure|Children's
Action
Action
Drama
Drama
Horror
Documentary
Drama
Drama
Action|Thriller
Comedy
Comedy|Crime|Drama
Documentary
Action|Sci-Fi
Drama
Horror|Thriller
Drama
Drama
Comedy
Comedy
Drama
Comedy
Comedy
Comedy|Thriller
Western
Comedy|Romance
Drama
Comedy
Action|Comedy
Adventure|Children's
Thriller
Action|Thriller
Drama
Drama|Romance
Horror|Sci-Fi|Thriller
Mystery|Romance|Thriller
Drama
Comedy
Drama
Crime|Drama
Comedy|Western
Comedy
Action|Adventure|Crime
Comedy|Sci-Fi
Drama|Thriller
Comedy
Action|Comedy
Drama
Comedy|Romance
Comedy
Action|Sci-Fi
Documentary
Comedy|Romance
Comedy
Drama|Romance
Comedy|Romance
Drama
Comedy
Comedy|Drama
Drama|Mystery|Romance
Drama
Comedy
Drama|Thriller
Adventure|Children's|Drama
Drama
Action|Thriller
Drama|Western
Action
Comedy
Drama|Romance
Action|Adventure
Crime|Drama|Thriller
Action|Adventure|Crime|Thriller
Action|Drama|War
Action|Comedy|War
Comedy
Comedy|Romance
Drama|Romance
Comedy
Comedy|Romance
Comedy|Drama
Comedy|War
Action|Thriller
Drama
Comedy|Drama
Drama
Comedy
Action
Action|Adventure|Sci-Fi
Drama|Thriller
Thriller
Drama
Adventure|Children's
Action|Comedy
Comedy
Comedy|Western
Drama
Comedy
Thriller
Drama
Comedy|Mystery
Action|Crime|Drama
Action|Thriller
Drama
Comedy|Drama|Romance
Comedy|Romance
Drama|Romance
Comedy|Romance
Comedy
Drama
Action|Children's
Drama
Action|Sci-Fi
Comedy
Drama
Action|Drama
Drama
Drama|Romance
Drama
Action|Drama
Horror|Sci-Fi
Comedy|Mystery|Romance
Comedy
Drama
Comedy|Drama|War
Action|Drama|Mystery
Comedy
Sci-Fi|Thriller
Comedy
Crime|Thriller
Action|Drama
Drama
Drama
Drama
Drama
Drama|War
Drama
Drama
Drama
Children's|Drama
Comedy|Crime|Horror
Action
Drama|Romance
Drama
Drama
Comedy|Drama
Drama
Comedy|Romance
Thriller
Film-Noir|Sci-Fi
Comedy
Comedy|Romance|Thriller
Action
Drama
Action|Adventure|Children's|Sci-Fi
Action|Adventure|Thriller
Action
Documentary
Comedy|Romance
Children's|Comedy|Musical
Action|Adventure|Comedy
Western
Thriller
Action|Crime|Romance
Documentary
Drama
Action|Adventure|Animation|Children's|Fantasy
Comedy
Drama
Thriller
Comedy|Drama
Drama
Comedy
Horror
Comedy|Romance
Drama
Comedy|Drama
Children's|Comedy
Comedy|Drama
Drama
Drama
Drama
Comedy|Drama
Children's|Comedy
Comedy
Adventure|Children's
Drama|Mystery
Thriller
Drama
Documentary
Comedy
Comedy|Drama
Drama
Comedy
Children's|Comedy
Comedy|Romance|Thriller
Animation|Children's|Comedy|Musical
Action|Sci-Fi|Thriller
Adventure|Drama|Western
Action|Drama|Thriller
Action|Adventure|Crime|Drama
Drama|Thriller
Animation|Children's|Musical
Animation|Children's|Musical
Animation|Children's
Comedy|Romance
Comedy
Western
Thriller
Drama
Documentary
Comedy
Documentary
Drama|Romance
Horror
Drama
Crime|Drama|Thriller
Adventure|Children's
Action|Adventure|Animation|Horror|Sci-Fi
Action|Horror|Sci-Fi
Comedy
Drama|Romance
Drama|Thriller
Drama
Animation|Children's
Drama
Comedy|Romance
Comedy
Drama
Drama
Romance
Action|Drama|Thriller
Drama
Comedy
Drama|Thriller
Drama|Thriller
Drama
Drama|Romance
Animation|Children's|Musical
War
Comedy
Comedy
Comedy|Drama
Drama
Comedy
Romance
Comedy
Drama|Thriller
Comedy
Drama
Comedy
Comedy
Drama
Drama|War
Action|Adventure|Mystery
Comedy|Drama
Drama
Comedy
Mystery
Action|Adventure|Fantasy
Drama|Romance
Comedy
Comedy
Comedy|Drama
Drama
Crime|Thriller
Drama
Animation|Children's|Musical
Thriller
Comedy
Comedy
War
Drama
Action
Drama
Drama
Drama
Comedy|Sci-Fi
Drama
Adventure|Animation|Children's|Comedy|Fantasy
Adventure|Sci-Fi
Action|Drama|Thriller
Drama
Drama|Thriller
Drama
Sci-Fi
Crime
Documentary|Drama
Documentary
Drama
Drama
Drama|Romance
Action|Adventure|Comedy|War
Romance
Comedy|Romance
Action|Sci-Fi|Thriller
Drama
Action
Mystery|Thriller
Thriller
Drama|Romance
Drama
Drama
Comedy
Drama
Drama
Drama
Action|Adventure
Comedy
Drama
Crime|Film-Noir|Thriller
Comedy|Romance
Animation|Children's
Comedy
Adventure|Children's
Drama
Drama
Western
Drama
Crime
Comedy
Comedy|Sci-Fi
Comedy
Animation
Drama
Documentary
Drama
Drama|Horror
Comedy
Drama
Documentary
Comedy
Drama
Drama
Mystery|Thriller
Crime
Action|Adventure|Thriller
Comedy
Comedy|Horror
Action|Adventure|Romance|Thriller
Action|Sci-Fi
Drama
Comedy
Animation|Sci-Fi
Horror|Thriller
Comedy
Drama
Animation|Comedy|Thriller
Film-Noir
Comedy
Action|Sci-Fi|Thriller
Drama
Sci-Fi|War
Comedy
Comedy|Romance
Comedy|Drama
Adventure|Children's
Children's|Drama
Documentary
Drama
Drama
Documentary
War
Adventure
Comedy|Crime
Drama
Drama|Romance
Comedy|Drama
Drama
Drama
Drama
Documentary
Drama
Comedy|Drama
Comedy
Drama
Drama
Horror
Comedy|Drama
War
Drama
Drama|Romance
Action|Sci-Fi|War
Drama
Thriller
Animation|Children's|Musical
Comedy
Comedy
Action|Thriller
Documentary
Comedy|Fantasy|Romance|Sci-Fi
Drama
Drama
Documentary
Fantasy
Drama
Comedy|Drama
Drama
Drama
Comedy
Action|Adventure|Thriller
Comedy|Horror
Drama|Mystery
Children's|Comedy
Drama|Romance
Romance
Comedy|Romance
Drama
Drama
Comedy|Romance
Adventure|Children's
Action|Adventure
Children's|Comedy|Fantasy
Comedy
Drama
Comedy
Drama
Action|Mystery|Thriller
Drama
Comedy
Comedy|Drama
Drama
Romance
Drama
Drama
Drama
Comedy|Romance
Drama
Drama
Adventure|Children's
Comedy|Musical
Comedy
Drama
Drama|Thriller
Comedy
Comedy
Drama
Action|Adventure|Thriller
Children's|Comedy
Comedy|Drama|Romance
Action|Thriller
Comedy
Horror
Horror
Drama
Drama
Drama
Drama
Comedy|Drama
Drama
Action|Adventure|Sci-Fi|Thriller
Crime|Drama
Drama
Comedy|Romance
Drama
Drama
Drama
Comedy
Drama
Action|Crime|Drama
Documentary
Comedy
Action|Thriller
Drama
Comedy
Comedy|Drama
Drama
Crime|Drama|Romance|Thriller
Comedy|Crime
Comedy
Crime
Comedy
Comedy
Drama
Drama
Crime|Drama
Drama
Action
Drama
Drama
Horror
Sci-Fi|Thriller
Children's|Comedy
Drama|Thriller
Drama
Children's|Drama|Fantasy
Action
Drama
Animation|Children's
Romance
Thriller
Horror|Thriller
Comedy|Drama|Romance
Drama
Romance
Drama
Drama
Adventure|War
Comedy|Romance
Musical|Romance
Musical|Romance
Comedy|Musical
Drama|Romance
Mystery|Thriller
Mystery|Thriller
Comedy
Mystery|Thriller
Comedy|Musical|Romance
Drama|Thriller
Comedy|Drama
Comedy|Crime
Comedy|Mystery|Romance|Thriller
Drama|Romance|War
Film-Noir|Mystery
Musical|Romance
Comedy|Romance
Comedy|Romance
Children's|Drama
Musical
Adventure|Children's|Drama|Musical
Drama|Romance|War
Comedy
Film-Noir
Drama
Drama|Mystery|Sci-Fi|Thriller
Adventure|Romance
Drama
Comedy
Romance|Thriller
Thriller
Film-Noir|Romance|Thriller
Mystery|Romance|Thriller
Romance
Comedy|Romance|Thriller
Comedy
Comedy|Musical
Comedy|Romance
Comedy|Romance
Musical
Comedy|Drama
Action|Adventure
Adventure
Crime|Film-Noir|Mystery
Drama|Romance
Drama
Comedy|Musical|Romance
Comedy|Drama|War
Comedy
Drama
Drama
Mystery
Comedy
Adventure|Comedy
Drama
Drama
Comedy
Drama|Romance
Drama
Comedy|Mystery
Drama
Crime|Drama
Drama
Crime|Drama
Musical
Western
Thriller
Drama
Western
Horror|Sci-Fi
Action|Adventure|Romance|War
Comedy|Drama
Drama
Drama
Drama
Drama|Romance
Comedy|Musical
Romance|War
Mystery
Drama
Drama|War
Action
Drama
Drama
Romance
Comedy|Drama
Documentary
Adventure|Children's
Drama|Romance
Comedy|Drama
Drama
Action|Adventure|Thriller
Drama|War
Thriller
Drama
Drama
Action|Drama|Western
Drama|Thriller
Action|Crime
Crime
Crime
Comedy
Comedy
Drama|Thriller
Action|Thriller
Children's|Comedy
Drama
Children's|Comedy|Western
Western
Adventure|Children's|Fantasy
Children's|Comedy
Adventure|Children's|Comedy
Children's|Drama
Children's|Drama
Children's|Comedy|Drama
Adventure|Children's
Children's|Comedy
Adventure|Children's
Children's|Comedy|Mystery
Adventure|Children's|Fantasy|Sci-Fi
Comedy
Children's|Comedy
Animation|Children's|Musical
Animation|Children's
Animation|Children's|Musical
Animation|Children's
Children's|Drama
Drama
Children's|Comedy|Musical
Animation|Children's|Musical
Adventure|Animation|Children's|Musical
Adventure|Children's|Musical
Animation|Children's|Musical
Animation|Children's
Crime
Musical
Action|Thriller
Action|Sci-Fi|Thriller
Drama
Documentary
Drama
Drama
Comedy
Drama|Romance
Drama
Comedy|Drama
Drama|Romance
Action|Thriller
Action|Adventure
Documentary|Drama
Drama
Drama
Crime|Drama
Drama
Thriller
Drama
Comedy|Musical|Romance
Drama
Drama|Romance
Comedy|Drama
Crime|Drama
Drama
Drama
Animation|Children's|Comedy
Mystery
Comedy|Musical|Romance
Comedy|Musical|Romance
Crime|Film-Noir
Film-Noir|Thriller
Adventure
Romance|War
Adventure|Children's|Comedy|Fantasy
Comedy
Thriller
Comedy|Sci-Fi
Comedy|War
Comedy
Comedy
Comedy|Musical
Drama
Comedy|Musical
Crime|Drama
Adventure|Drama
Mystery|Thriller
Musical
Musical|Romance
Crime|Thriller
Drama|War
Comedy
Mystery|Thriller
Drama|Musical
Drama|Romance|War
Drama
Drama
Children's|Drama|Fantasy|Sci-Fi
Comedy
Drama
Action|Romance
Action|Romance
Action
Drama
Drama
Horror
Documentary
Comedy
Documentary
Drama
Action
Documentary
Action|Drama
Comedy
Drama
Comedy|Drama
Drama
Drama
Adventure|Western
Drama
Drama
Drama
Documentary
Documentary
Drama
Comedy
Comedy|Fantasy
Action|Adventure|Sci-Fi|Thriller
Horror
Action|Adventure|Sci-Fi|Thriller
Horror
Drama
Drama
Comedy|Drama
Action|Drama
Comedy
Comedy
Romance
Documentary
Drama
Drama
Drama
Drama
Comedy
Documentary
Documentary
Comedy|Drama
Documentary
Animation|Comedy
Documentary|Drama
Drama
Animation|Comedy|Thriller
Crime|Film-Noir|Thriller
Film-Noir
Film-Noir
Drama
Drama
Drama
Comedy
Romance
Comedy
Drama
Comedy
Drama
Drama
Drama|Thriller
Comedy
Comedy
Horror
Documentary
Action
Comedy
Comedy|Drama|Romance
Drama
Comedy
Comedy|Sci-Fi
Drama
Drama
Drama|War
Crime|Drama|Film-Noir
Comedy
Action
Drama|Romance|War
Comedy|War
Drama
Drama
Drama
Comedy|Romance
Documentary
Drama
Documentary
Documentary
Drama
Comedy
Action|Adventure|Drama|Sci-Fi|War
Action|Adventure|Comedy|Romance
Action|Adventure
Sci-Fi
Action|Sci-Fi|Thriller|War
Action|Western
Comedy
Drama
Adventure|War
Action|Animation|Children's|Sci-Fi|Thriller|War
Sci-Fi
Drama
Drama|War
Western
Action|Adventure|Romance|Sci-Fi|War
Comedy|Drama|Romance
Mystery|Thriller
Crime|Drama
Action|Horror|Sci-Fi|Thriller
Action|Adventure|Comedy|Horror|Sci-Fi
Adventure|Romance
Drama|War
Action|Thriller
Horror|Thriller
Action|Comedy|Musical
Action|Crime|Drama
Action|Drama|War
Animation|Comedy
Drama|War
Drama
Comedy|Romance
Crime|Drama|Thriller
Drama
Comedy|Romance
Drama
Mystery|Sci-Fi
Action|Drama|War
Comedy|Crime
Comedy
Comedy|Drama
Drama
Comedy
Action|Sci-Fi|Thriller
Comedy|Horror
Action|Drama|War
Comedy|Drama
Comedy|Drama|Romance
Drama
Drama
Drama|Romance
Crime|Film-Noir|Thriller
Thriller
Drama|War
Drama
Film-Noir|Mystery|Thriller
Drama|Sci-Fi
Adventure
Comedy|Horror
Comedy|War
Comedy
Horror
Adventure|Comedy|Drama
Crime|Film-Noir|Thriller
Action|Adventure|Comedy|Horror
Adventure|War
Drama|War
Action|Drama|Mystery|Romance|Thriller
Comedy|Romance
Western
Film-Noir|Thriller
Drama
Comedy|Mystery|Thriller
Comedy|Sci-Fi
Drama
Drama|War
Comedy|Drama
Adventure|Animation|Sci-Fi|Thriller
Action|Adventure
Comedy|Drama
Action|Drama|Romance
Comedy|Horror
Comedy|Drama
Drama
Comedy
Animation|Children's|Musical
Western
Film-Noir|Mystery
Comedy
Drama|Romance
Action|Adventure|Drama
Comedy|Drama|Musical
Documentary|War
Drama|Romance
Action|Adventure
Comedy
Drama
Comedy|War
Drama
Drama|Romance
Comedy
Drama|Musical|War
Drama|War
Drama
Sci-Fi
Drama
Adventure
Action|Comedy|Western
Drama
Drama|Sci-Fi
Comedy|Romance
Comedy
Drama|Romance
Documentary
Comedy
Drama
Crime
Romance
Documentary
Drama
Comedy
Comedy|Drama
Documentary
Action|Horror|Sci-Fi|Thriller
Horror
Horror
Horror
Horror
Horror
Horror
Horror
Horror
Horror
Comedy|Horror
Horror
Horror|Thriller
Horror
Horror|Sci-Fi
Action|Horror
Horror
Horror
Horror|Romance
Horror
Horror
Horror
Thriller
Film-Noir|Thriller
Horror
Horror
Horror
Horror
Horror
Horror
Drama
Crime|Thriller
Comedy|Romance
Drama
Horror|Thriller
Action|Adventure|Sci-Fi
Drama|Romance
Drama|Thriller
Adventure|Children's|Comedy
Drama
Documentary
Drama
Drama
Action
Drama
Drama
Children's|Comedy
Drama
Drama|Thriller
Action|Thriller
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Comedy|Crime
Action|Comedy|Western
Action|Comedy|Western
Comedy|Musical|Romance
Comedy|Musical|Romance
Action|Drama
Action|Sci-Fi
Drama
Action
Western
Action|Horror
Action|Horror
Action|Horror
Comedy
Action|Comedy|Sci-Fi|War
Comedy|Drama
Drama|Romance
Comedy
Comedy|Drama
Crime|Drama|Sci-Fi
Drama
Romance|War
Drama
Drama
Drama
Crime|Drama
Animation|Comedy
Drama
Horror|Thriller
Action|Romance|War
Comedy|Romance
Comedy|Drama
Drama
Drama
Drama
Comedy
Crime|Drama|Romance
Drama|Musical
Drama
Drama
Documentary
Documentary
Mystery|Thriller
Drama
Action
Comedy
Children's
Thriller
Drama
Action
Thriller
Action|Comedy
Action
Comedy|Horror
Action
Comedy
Drama
Action|Thriller
Comedy
Comedy
Comedy|Romance
Drama
Documentary
Comedy
Comedy|War
Comedy
Crime
Documentary
Comedy
War
Comedy|Romance
Comedy
Comedy|Romance
Comedy
Comedy|Romance
Romance
Mystery|Thriller
Children's|Comedy|Mystery
Comedy
Documentary
Comedy|Romance
Mystery
Drama
Crime|Drama
Comedy|Drama
Comedy|Romance
Documentary
Drama
Crime|Thriller
Action|Comedy|Crime|Drama
Children's|Comedy
Romance
Comedy|Drama
Romance
Action|Romance|Thriller
Action|Drama|Thriller
Comedy|Drama
Drama|Thriller
Mystery
Comedy
Drama
Drama|Musical
Action|Drama|Thriller|War
Animation|Children's|Musical
Comedy
Romance
Comedy
Action|Adventure|Children's
Drama|Romance
Action
Drama|Romance
Action|Adventure|Thriller
Comedy|Crime
Crime
Romance
Comedy
Drama
Drama|War
Drama
Drama
Drama
Comedy
Comedy
Romance
Drama|Thriller
Comedy
Comedy
Action|Thriller
Drama
Romance
Drama
Action|Crime|Romance
Drama
Action|Adventure|Children's|Fantasy
Comedy
Action|Sci-Fi
Comedy
Drama
Drama
Comedy
Drama
Drama
Drama|Romance
Comedy
Adventure|Children's
Comedy|Crime
Comedy|Romance
Comedy|Drama|Romance
Drama
Action|Adventure|Sci-Fi|Thriller
Drama
Comedy
Children's|Drama
Drama
Drama|Romance
Comedy|Romance
Adventure|Children's|Drama
Action|Adventure|Thriller
Comedy
Drama|Romance
Drama
Action|Romance|Thriller
Drama
Comedy
Drama
Comedy
Action|Adventure|Crime
Drama
Comedy|Romance
Comedy|Thriller
Adventure|Animation|Children's|Comedy|Musical
Drama
Crime|Drama|Mystery
Comedy|Romance
Sci-Fi
Comedy|Romance
Drama
Action|Sci-Fi|Thriller
Romance
Drama
Drama
Crime
Drama
Action|Adventure|Comedy|Sci-Fi
Comedy
Adventure|Children's
Children's|Fantasy
Drama|Sci-Fi
Comedy
Action|Drama|War
Action|Adventure
Children's|Comedy
Crime|Drama|Mystery
Action|Mystery|Sci-Fi|Thriller
Action|Adventure|Sci-Fi|Thriller
Children's|Comedy
Comedy|Romance
Drama
Adventure|Children's|Drama
Drama
Action|Mystery|Romance|Thriller
Crime|Drama|Thriller
Action
Drama|Romance
Crime|Drama|Film-Noir
Comedy
Sci-Fi|Thriller
Action|Comedy
Adventure|Romance
Action|Adventure
Action|Thriller
Drama
Action|Thriller
Drama
Comedy
Drama
Comedy
Adventure|Thriller
Action|Thriller|War
Crime|Film-Noir|Mystery|Thriller
Drama|War
Crime|Drama|Thriller
Drama
Comedy|Drama
Horror
Drama
Mystery|Thriller
Action|Drama|Thriller
Action|Crime|Mystery
Drama
Comedy|Romance
Comedy|Drama
Thriller
Comedy|Romance
Drama
Drama
Action|Thriller

Crime|Thriller
Crime|Thriller
Comedy|Drama
Action|Comedy
Comedy
Comedy|Drama
Comedy|Drama
Drama
Drama
Drama
Comedy
Crime
Drama
Horror
Comedy|Romance
Drama|Musical
Comedy
Comedy|Drama
Documentary
Drama
Drama
Drama
Horror
Horror
Horror
Drama|Fantasy
Comedy
Comedy
Horror|Sci-Fi
Comedy
Comedy
Adventure|Sci-Fi
Adventure|Sci-Fi
Comedy|Horror
Comedy
Horror
Horror|Sci-Fi
Horror|Sci-Fi
Horror|Sci-Fi
Sci-Fi
Horror
Drama|Thriller
Sci-Fi|Thriller
Horror
Horror
Horror
Horror
Horror
Comedy
Comedy|Drama
Adventure|Animation|Children's
Action|Drama|Thriller
Thriller
Comedy
Drama
Drama
Drama
Drama|Thriller

In [24]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))

In [25]:
all_genres

['Animation',
 "Children's",
 'Comedy',
 'Adventure',
 "Children's",
 'Fantasy',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Romance',
 'Adventure',
 "Children's",
 'Action',
 'Action',
 'Adventure',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Horror',
 'Animation',
 "Children's",
 'Drama',
 'Action',
 'Adventure',
 'Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Action',
 'Action',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Thriller',
 'Drama',
 'Sci-Fi',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Drama',
 'Drama',
 'Sci-Fi',
 'Adventure',
 'Romance',
 "Children's",
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Documentary',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'War',
 'Action',
 'Crime',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Crime',
 'Thriller',
 'Animation',
 "Children's",
 'Musical',
 'Romance',
 'Drama',
 'Romance',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Drama',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Mystery',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Thriller',
 'Drama',
 'Comedy',
 'Comedy',
 'Romance',
 'Comedy',
 'Sci-Fi',
 'Thriller',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Action',
 'Comedy',
 'Crime',
 'Horror',
 'Thriller',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Musical',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Documentary',
 'Drama',
 'Drama',
 'Thriller',
 'Drama',
 'Crime',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Action',
 'Thriller',
 'Drama',
 'Drama',
 'Thriller',
 'Comedy',
 'Romance',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Action',
 'Thriller',
 'Documentary',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Adventure',
 "Children's",
 'Comedy',
 'Musical',
 'Documentary',
 'Comedy',
 'Action',
 'Drama',
 'War',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Drama',
 'Mystery',
 'Drama',
 'Comedy',
 'Documentary',
 'Crime',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Mystery',
 'Romance',
 'Drama',
 'Comedy',
 'Adventure',
 "Children's",
 'Fantasy',
 'Drama',
 'Documentary',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Drama',
 'Documentary',
 'Comedy',
 'Documentary',
 'Documentary',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Action',
 'Adventure',
 "Children's",
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'War',
 'Horror',
 'Action',
 'Adventure',
 'Comedy',
 'Crime',
 'Drama',
 'Drama',
 'War',
 'Comedy',
 'Comedy',
 'War',
 'Adventure',
 "Children's",
 'Drama',
 'Action',
 'Adventure',
 'Mystery',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'War',
 'Documentary',
 'Action',
 'Romance',
 'Thriller',
 'Crime',
 'Film-Noir',
 'Mystery',
 'Thriller',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Action',
 'Adventure',
 'Drama',
 'Romance',
 'Adventure',
 "Children's",
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Comedy',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 "Children's",
 'Drama',
 'Romance',
 'Thriller',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Comedy',
 'Horror',
 'Comedy',
 'Thriller',
 'Drama',
 'Documentary',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Horror',
 'Sci-Fi',
 'Drama',
 'Action',
 'Crime',
 'Sci-Fi',
 'Drama',
 'Musical',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Documentary',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Drama',
 'Western',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Horror',
 'Drama',
 'Romance',
 'Comedy',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Thriller',
 'Action',
 'Comedy',
 'Drama',
 'Thriller',
 'Drama',
 'Thriller',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Adventure',
 "Children's",
 'Animation',
 "Children's",
 'Comedy',
 'Romance',
 'Thriller',
 "Children's",
 'Drama',
 'Drama',
 'Musical',
 'Comedy',
 'Animation',
 "Children's",
 'Crime',
 'Drama',
 'Documentary',
 'Drama',
 'Fantasy',
 'Romance',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 "Children's",
 'Comedy',
 'Action',
 'Comedy',
 'Romance',
 'Drama',
 'Horror',
 'Drama',
 'Comedy',
 'Comedy',
 'Sci-Fi',
 'Mystery',
 'Thriller',
 'Adventure',
 "Children's",
 'Comedy',
 'Fantasy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Fantasy',
 'Sci-Fi',
 'Drama',
 "Children's",
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'War',
 'Western',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Drama',
 'Horror',
 'Comedy',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Action',
 'Crime',
 'Drama',
 'Horror',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Thriller',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Romance',
 'Thriller',
 'Comedy',
 'Romance',
 'Comedy',
 'Romance',
 'Crime',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Western',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Horror',
 'Thriller',
 'Comedy',
 'Animation',
 "Children's",
 'Drama',
 'Action',
 'Action',
 'Adventure',
 'Sci-Fi',
 "Children's",
 'Comedy',
 'Fantasy',
 'Drama',
 'Thriller',
 'Film-Noir',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Action',
 'Comedy',
 'Musical',
 'Sci-Fi',
 'Horror',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Comedy',
 'Horror',
 'Drama',
 'Horror',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'War',
 'Drama',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Romance',
 'Adventure',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 "Children's",
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Musical',
 'Drama',
 'Comedy',
 'Action',
 'Adventure',
 'Thriller',
 'Drama',
 'Mystery',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Romance',
 'Thriller',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Romance',
 'War',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 "Children's",
 'Romance',
 'Documentary',
 'Animation',
 "Children's",
 'Musical',
 'Drama',
 'Horror',
 'Comedy',
 'Crime',
 'Fantasy',
 'Action',
 'Comedy',
 'Western',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 "Children's",
 'Comedy',
 'Drama',
 'Action',
 'Thriller',
 'Action',
 'Romance',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Sci-Fi',
 'Action',
 'Adventure',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Horror',
 'Western',
 'Action',
 'Drama',
 'Drama',
 'Action',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'War',
 'Action',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Adventure',
 "Children's",
 'Action',
 'Action',
 'Drama',
 'Drama',
 'Horror',
 'Documentary',
 'Drama',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Comedy',
 'Crime',
 'Drama',
 'Documentary',
 'Action',
 'Sci-Fi',
 'Drama',
 'Horror',
 'Thriller',
 'Drama',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Comedy',
 'Comedy',
 'Comedy',
 'Thriller',
 'Western',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Action',
 'Comedy',
 'Adventure',
 "Children's",
 'Thriller',
 'Action',
 'Thriller',
 'Drama',
 'Drama',
 'Romance',
 'Horror',
 'Sci-Fi',
 'Thriller',
 'Mystery',
 'Romance',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Western',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Comedy',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Action',
 'Sci-Fi',
 'Documentary',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Mystery',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Adventure',
 "Children's",
 'Drama',
 'Drama',
 'Action',
 'Thriller',
 'Drama',
 'Western',
 'Action',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'War',
 'Action',
 'Comedy',
 'War',
 'Comedy',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'War',
 'Action',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Action',
 'Action',
 'Adventure',
 'Sci-Fi',
 'Drama',
 'Thriller',
 'Thriller',
 'Drama',
 'Adventure',
 "Children's",
 'Action',
 'Comedy',
 'Comedy',
 'Comedy',
 'Western',
 'Drama',
 'Comedy',
 'Thriller',
 'Drama',
 'Comedy',
 'Mystery',
 'Action',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 "Children's",
 'Drama',
 'Action',
 'Sci-Fi',
 'Comedy',
 'Drama',
 'Action',
 'Drama',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Action',
 'Drama',
 'Horror',
 'Sci-Fi',
 'Comedy',
 'Mystery',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'War',
 'Action',
 'Drama',
 'Mystery',
 'Comedy',
 'Sci-Fi',
 'Thriller',
 'Comedy',
 'Crime',
 'Thriller',
 'Action',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'War',
 'Drama',
 'Drama',
 'Drama',
 "Children's",
 'Drama',
 'Comedy',
 'Crime',
 'Horror',
 'Action',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Thriller',
 'Film-Noir',
 'Sci-Fi',
 'Comedy',
 'Comedy',
 'Romance',
 'Thriller',
 'Action',
 'Drama',
 'Action',
 'Adventure',
 "Children's",
 'Sci-Fi',
 'Action',
 'Adventure',
 'Thriller',
 'Action',
 'Documentary',
 'Comedy',
 'Romance',
 "Children's",
 'Comedy',
 'Musical',
 'Action',
 'Adventure',
 'Comedy',
 'Western',
 'Thriller',
 'Action',
 'Crime',
 'Romance',
 'Documentary',
 'Drama',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Fantasy',
 'Comedy',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 "Children's",
 'Comedy',
 'Comedy',
 'Adventure',
 "Children's",
 'Drama',
 'Mystery',
 'Thriller',
 'Drama',
 'Documentary',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy',
 "Children's",
 'Comedy',
 'Comedy',
 'Romance',
 'Thriller',
 'Animation',
 "Children's",
 'Comedy',
 'Musical',
 'Action',
 'Sci-Fi',
 'Thriller',
 'Adventure',
 ...]

In [33]:
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [34]:
# dataframe indicador

In [39]:
zero_matrix = np.zeros((len(movies)))
len(movies)

3883

In [40]:
len(zero_matrix)

3883

In [41]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [44]:
dummies = pd.DataFrame(zero_matrix, columns=genres)
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
gen = movies.genres[0]
gen

"Animation|Children's|Comedy"

In [47]:
gen.split('|')

['Animation', "Children's", 'Comedy']

In [48]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [51]:
dummies.columns

Index(['Animation', 'Children's', 'Comedy', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Sci-Fi',
       'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir', 'Western'],
      dtype='object')

In [52]:
dummies.columns.get_indexer(gen.split('|'))

array([0, 1, 2], dtype=int64)

In [59]:
for i, gen in enumerate(movies.genres):
    print(gen)

Animation|Children's|Comedy
Adventure|Children's|Fantasy
Comedy|Romance
Comedy|Drama
Comedy
Action|Crime|Thriller
Comedy|Romance
Adventure|Children's
Action
Action|Adventure|Thriller
Comedy|Drama|Romance
Comedy|Horror
Animation|Children's
Drama
Action|Adventure|Romance
Drama|Thriller
Drama|Romance
Thriller
Comedy
Action
Action|Comedy|Drama
Crime|Drama|Thriller
Thriller
Drama|Sci-Fi
Drama|Romance
Drama
Drama
Romance
Adventure|Sci-Fi
Drama
Drama
Drama|Sci-Fi
Adventure|Romance
Children's|Comedy|Drama
Drama|Romance
Drama
Documentary
Comedy
Comedy|Romance
Drama
Drama|War
Action|Crime|Drama
Drama
Action|Adventure
Comedy|Drama
Drama|Romance
Crime|Thriller
Animation|Children's|Musical|Romance
Drama|Romance
Crime|Thriller
Action|Drama|Thriller
Comedy
Drama
Children's|Comedy
Drama
Adventure|Children's|Fantasy
Drama
Drama|Romance
Drama|Mystery
Adventure|Children's|Fantasy
Drama|Thriller
Drama
Comedy
Comedy|Romance
Comedy
Sci-Fi|Thriller
Drama
Comedy|Romance
Comedy
Action|Comedy|Crime|Horror|Thriller
Action
Comedy|Drama
Drama|Musical
Drama|Romance
Comedy|Drama
Sci-Fi|Thriller
Documentary
Drama
Drama|Thriller
Drama
Crime|Drama|Romance
Drama
Drama
Comedy|Drama
Drama|Romance
Adventure|Drama
Children's|Comedy
Comedy
Action|Thriller
Drama
Drama|Thriller
Comedy|Romance
Drama
Action|Thriller
Comedy
Drama
Action|Thriller
Documentary
Drama|Thriller
Comedy
Comedy
Thriller
Comedy
Drama|Romance
Comedy|Drama
Adventure|Children's|Comedy|Musical
Documentary
Comedy
Action|Drama|War
Drama|Thriller
Action|Adventure|Crime
Drama|Mystery
Drama
Comedy
Documentary
Crime
Comedy|Romance
Comedy
Drama
Drama
Comedy|Romance
Drama|Mystery|Romance
Drama
Comedy
Adventure|Children's|Fantasy
Drama
Documentary
Comedy|Romance
Drama
Drama|Romance
Thriller
Comedy|Drama
Documentary
Comedy
Documentary
Documentary
Drama
Action|Drama
Drama|Romance
Comedy
Drama
Drama
Comedy
Action
Adventure|Children's
Drama
Drama
Crime|Drama|Thriller
Drama
Drama|Romance|War
Horror
Action|Adventure|Comedy|Crime
Drama
Drama|War
Comedy
Comedy|War
Adventure|Children's
Drama
Action|Adventure|Mystery|Sci-Fi
Drama|Thriller|War
Documentary
Action|Romance|Thriller
Crime|Film-Noir|Mystery|Thriller
Action|Thriller
Comedy|Drama
Drama
Action|Adventure|Drama|Romance
Adventure|Children's|Drama
Action|Crime|Thriller
Comedy
Action|Sci-Fi|Thriller
Action|Adventure|Sci-Fi
Comedy
Drama
Comedy
Horror
Comedy
Drama|Romance
Comedy
Action|Children's
Drama|Romance
Thriller
Drama
Sci-Fi|Thriller
Comedy
Comedy
Horror
Comedy
Thriller
Drama
Documentary
Drama
Drama
Comedy|Drama|Romance
Horror|Sci-Fi
Drama
Action|Crime|Sci-Fi
Drama|Musical
Thriller
Drama
Drama|Romance
Comedy
Action
Comedy|Drama
Documentary
Drama|Romance
Action|Adventure
Drama
Western
Drama
Comedy
Drama
Drama
Drama|Romance
Comedy
Drama|Thriller
Comedy|Drama
Drama
Horror
Drama|Romance
Comedy
Comedy|Drama|Romance
Drama|Thriller
Thriller
Action
Comedy
Drama|Thriller
Drama|Thriller
Comedy
Comedy|Drama
Drama
Comedy
Comedy|Drama
Comedy|Romance
Comedy|Romance
Adventure|Children's
Animation|Children's|Comedy|Romance
Thriller
Children's|Drama
Drama|Musical
Comedy
Animation|Children's
Crime|Drama
Documentary
Drama|Fantasy|Romance|Thriller
Comedy
Drama|Romance
Children's|Comedy
Action
Comedy|Romance
Drama|Horror
Drama
Comedy
Comedy|Sci-Fi
Mystery|Thriller
Adventure|Children's|Comedy|Fantasy|Romance
Crime|Drama|Thriller
Action|Adventure|Fantasy|Sci-Fi
Drama
Children's|Drama
Drama
Drama
Drama|Romance
Drama|Romance|War|Western
Comedy
Drama
Drama
Drama|Romance
Drama
Drama
Drama|Horror
Comedy
Comedy
Comedy|Romance
Drama
Comedy
Drama
Drama|Thriller
Drama
Drama
Crime|Drama
Action|Crime
Drama|Horror
Action|Sci-Fi|Thriller
Comedy|Romance
Action|Thriller
Comedy|Romance
Crime|Drama
Thriller
Action|Drama|Thriller
Crime|Drama|Romance|Thriller
Comedy|Romance
Comedy|Romance
Crime|Drama
Drama
Comedy
Drama
Drama
Drama|Romance
Drama|Romance
Action|Adventure|Western
Comedy|Drama
Comedy
Drama
Drama
Drama
Drama
Comedy
Horror|Thriller
Comedy
Animation|Children's
Drama
Action
Action|Adventure|Sci-Fi
Children's|Comedy|Fantasy
Drama
Thriller
Film-Noir|Thriller
Drama
Comedy|Drama
Comedy
Comedy
Drama
Action|Comedy|Musical|Sci-Fi
Horror
Action|Adventure|Sci-Fi
Comedy|Horror
Drama
Horror|Sci-Fi
Comedy
Drama
Mystery|Thriller
Drama|War
Drama
Sci-Fi|Thriller
Comedy|Romance
Adventure|Drama
Drama
Comedy|Romance
Children's
Comedy
Comedy|Drama
Drama|Musical
Drama
Comedy
Action|Adventure|Thriller
Drama|Mystery|Thriller
Comedy|Drama|Romance
Comedy
Action|Romance|Thriller
Drama
Children's|Comedy
Comedy|Romance|War
Comedy|Romance
Drama
Comedy|Drama|Romance
Action|Comedy
Drama|Romance
Adventure|Children's|Romance
Documentary
Animation|Children's|Musical
Drama
Horror
Comedy|Crime|Fantasy
Action|Comedy|Western
Drama
Comedy
Comedy|Drama
Comedy|Drama
Thriller
Children's|Comedy
Drama
Action|Thriller
Action|Romance|Thriller
Comedy|Romance
Action|Sci-Fi
Action|Adventure|Comedy|Romance
Drama
Drama|Horror
Western
Action
Drama
Drama
Action|Comedy
Drama
Drama|Romance|War
Action|Comedy|Drama
Crime|Drama
Adventure|Children's
Action
Action
Drama
Drama
Horror
Documentary
Drama
Drama
Action|Thriller
Comedy
Comedy|Crime|Drama
Documentary
Action|Sci-Fi
Drama
Horror|Thriller
Drama
Drama
Comedy
Comedy
Drama
Comedy
Comedy
Comedy|Thriller
Western
Comedy|Romance
Drama
Comedy
Action|Comedy
Adventure|Children's
Thriller
Action|Thriller
Drama
Drama|Romance
Horror|Sci-Fi|Thriller
Mystery|Romance|Thriller
Drama
Comedy
Drama
Crime|Drama
Comedy|Western
Comedy
Action|Adventure|Crime
Comedy|Sci-Fi
Drama|Thriller
Comedy
Action|Comedy
Drama
Comedy|Romance
Comedy
Action|Sci-Fi
Documentary
Comedy|Romance
Comedy
Drama|Romance
Comedy|Romance
Drama
Comedy
Comedy|Drama
Drama|Mystery|Romance
Drama
Comedy
Drama|Thriller
Adventure|Children's|Drama
Drama
Action|Thriller
Drama|Western
Action
Comedy
Drama|Romance
Action|Adventure
Crime|Drama|Thriller
Action|Adventure|Crime|Thriller
Action|Drama|War
Action|Comedy|War
Comedy
Comedy|Romance
Drama|Romance
Comedy
Comedy|Romance
Comedy|Drama
Comedy|War
Action|Thriller
Drama
Comedy|Drama
Drama
Comedy
Action
Action|Adventure|Sci-Fi
Drama|Thriller
Thriller
Drama
Adventure|Children's
Action|Comedy
Comedy
Comedy|Western
Drama
Comedy
Thriller
Drama
Comedy|Mystery
Action|Crime|Drama
Action|Thriller
Drama
Comedy|Drama|Romance
Comedy|Romance
Drama|Romance
Comedy|Romance
Comedy
Drama
Action|Children's
Drama
Action|Sci-Fi
Comedy
Drama
Action|Drama
Drama
Drama|Romance
Drama
Action|Drama
Horror|Sci-Fi
Comedy|Mystery|Romance
Comedy
Drama
Comedy|Drama|War
Action|Drama|Mystery
Comedy
Sci-Fi|Thriller
Comedy
Crime|Thriller
Action|Drama
Drama
Drama
Drama
Drama
Drama|War
Drama
Drama
Drama
Children's|Drama
Comedy|Crime|Horror
Action
Drama|Romance
Drama
Drama
Comedy|Drama
Drama
Comedy|Romance
Thriller
Film-Noir|Sci-Fi
Comedy
Comedy|Romance|Thriller
Action
Drama
Action|Adventure|Children's|Sci-Fi
Action|Adventure|Thriller
Action
Documentary
Comedy|Romance
Children's|Comedy|Musical
Action|Adventure|Comedy
Western
Thriller
Action|Crime|Romance
Documentary
Drama
Action|Adventure|Animation|Children's|Fantasy
Comedy
Drama
Thriller
Comedy|Drama
Drama
Comedy
Horror
Comedy|Romance
Drama
Comedy|Drama
Children's|Comedy
Comedy|Drama
Drama
Drama
Drama
Comedy|Drama
Children's|Comedy
Comedy
Adventure|Children's
Drama|Mystery
Thriller
Drama
Documentary
Comedy
Comedy|Drama
Drama
Comedy
Children's|Comedy
Comedy|Romance|Thriller
Animation|Children's|Comedy|Musical
Action|Sci-Fi|Thriller
Adventure|Drama|Western
Action|Drama|Thriller
Action|Adventure|Crime|Drama
Drama|Thriller
Animation|Children's|Musical
Animation|Children's|Musical
Animation|Children's
Comedy|Romance
Comedy
Western
Thriller
Drama
Documentary
Comedy
Documentary
Drama|Romance
Horror
Drama
Crime|Drama|Thriller
Adventure|Children's
Action|Adventure|Animation|Horror|Sci-Fi
Action|Horror|Sci-Fi
Comedy
Drama|Romance
Drama|Thriller
Drama
Animation|Children's
Drama
Comedy|Romance
Comedy
Drama
Drama
Romance
Action|Drama|Thriller
Drama
Comedy
Drama|Thriller
Drama|Thriller
Drama
Drama|Romance
Animation|Children's|Musical
War
Comedy
Comedy
Comedy|Drama
Drama
Comedy
Romance
Comedy
Drama|Thriller
Comedy
Drama
Comedy
Comedy
Drama
Drama|War
Action|Adventure|Mystery
Comedy|Drama
Drama
Comedy
Mystery
Action|Adventure|Fantasy
Drama|Romance
Comedy
Comedy
Comedy|Drama
Drama
Crime|Thriller
Drama
Animation|Children's|Musical
Thriller
Comedy
Comedy
War
Drama
Action
Drama
Drama
Drama
Comedy|Sci-Fi
Drama
Adventure|Animation|Children's|Comedy|Fantasy
Adventure|Sci-Fi
Action|Drama|Thriller
Drama
Drama|Thriller
Drama
Sci-Fi
Crime
Documentary|Drama
Documentary
Drama
Drama
Drama|Romance
Action|Adventure|Comedy|War
Romance
Comedy|Romance
Action|Sci-Fi|Thriller
Drama
Action
Mystery|Thriller
Thriller
Drama|Romance
Drama
Drama
Comedy
Drama
Drama
Drama
Action|Adventure
Comedy
Drama
Crime|Film-Noir|Thriller
Comedy|Romance
Animation|Children's
Comedy
Adventure|Children's
Drama
Drama
Western
Drama
Crime
Comedy
Comedy|Sci-Fi
Comedy
Animation
Drama
Documentary
Drama
Drama|Horror
Comedy
Drama
Documentary
Comedy
Drama
Drama
Mystery|Thriller
Crime
Action|Adventure|Thriller
Comedy
Comedy|Horror
Action|Adventure|Romance|Thriller
Action|Sci-Fi
Drama
Comedy
Animation|Sci-Fi
Horror|Thriller
Comedy
Drama
Animation|Comedy|Thriller
Film-Noir
Comedy
Action|Sci-Fi|Thriller
Drama
Sci-Fi|War
Comedy
Comedy|Romance
Comedy|Drama
Adventure|Children's
Children's|Drama
Documentary
Drama
Drama
Documentary
War
Adventure
Comedy|Crime
Drama
Drama|Romance
Comedy|Drama
Drama
Drama
Drama
Documentary
Drama
Comedy|Drama
Comedy
Drama
Drama
Horror
Comedy|Drama
War
Drama
Drama|Romance
Action|Sci-Fi|War
Drama
Thriller
Animation|Children's|Musical
Comedy
Comedy
Action|Thriller
Documentary
Comedy|Fantasy|Romance|Sci-Fi
Drama
Drama
Documentary
Fantasy
Drama
Comedy|Drama
Drama
Drama
Comedy
Action|Adventure|Thriller
Comedy|Horror
Drama|Mystery
Children's|Comedy
Drama|Romance
Romance
Comedy|Romance
Drama
Drama
Comedy|Romance
Adventure|Children's
Action|Adventure
Children's|Comedy|Fantasy
Comedy
Drama
Comedy
Drama
Action|Mystery|Thriller
Drama
Comedy
Comedy|Drama
Drama
Romance
Drama
Drama
Drama
Comedy|Romance
Drama
Drama
Adventure|Children's
Comedy|Musical
Comedy
Drama
Drama|Thriller
Comedy
Comedy
Drama
Action|Adventure|Thriller
Children's|Comedy
Comedy|Drama|Romance
Action|Thriller
Comedy
Horror
Horror
Drama
Drama
Drama
Drama
Comedy|Drama
Drama
Action|Adventure|Sci-Fi|Thriller
Crime|Drama
Drama
Comedy|Romance
Drama
Drama
Drama
Comedy
Drama
Action|Crime|Drama
Documentary
Comedy
Action|Thriller
Drama
Comedy
Comedy|Drama
Drama
Crime|Drama|Romance|Thriller
Comedy|Crime
Comedy
Crime
Comedy
Comedy
Drama
Drama
Crime|Drama
Drama
Action
Drama
Drama
Horror
Sci-Fi|Thriller
Children's|Comedy
Drama|Thriller
Drama
Children's|Drama|Fantasy
Action
Drama
Animation|Children's
Romance
Thriller
Horror|Thriller
Comedy|Drama|Romance
Drama
Romance
Drama
Drama
Adventure|War
Comedy|Romance
Musical|Romance
Musical|Romance
Comedy|Musical
Drama|Romance
Mystery|Thriller
Mystery|Thriller
Comedy
Mystery|Thriller
Comedy|Musical|Romance
Drama|Thriller
Comedy|Drama
Comedy|Crime
Comedy|Mystery|Romance|Thriller
Drama|Romance|War
Film-Noir|Mystery
Musical|Romance
Comedy|Romance
Comedy|Romance
Children's|Drama
Musical
Adventure|Children's|Drama|Musical
Drama|Romance|War
Comedy
Film-Noir
Drama
Drama|Mystery|Sci-Fi|Thriller
Adventure|Romance
Drama
Comedy
Romance|Thriller
Thriller
Film-Noir|Romance|Thriller
Mystery|Romance|Thriller
Romance
Comedy|Romance|Thriller
Comedy
Comedy|Musical
Comedy|Romance
Comedy|Romance
Musical
Comedy|Drama
Action|Adventure
Adventure
Crime|Film-Noir|Mystery
Drama|Romance
Drama
Comedy|Musical|Romance
Comedy|Drama|War
Comedy
Drama
Drama
Mystery
Comedy
Adventure|Comedy
Drama
Drama
Comedy
Drama|Romance
Drama
Comedy|Mystery
Drama
Crime|Drama
Drama
Crime|Drama
Musical
Western
Thriller
Drama
Western
Horror|Sci-Fi
Action|Adventure|Romance|War
Comedy|Drama
Drama
Drama
Drama
Drama|Romance
Comedy|Musical
Romance|War
Mystery
Drama
Drama|War
Action
Drama
Drama
Romance
Comedy|Drama
Documentary
Adventure|Children's
Drama|Romance
Comedy|Drama
Drama
Action|Adventure|Thriller
Drama|War
Thriller
Drama
Drama
Action|Drama|Western
Drama|Thriller
Action|Crime
Crime
Crime
Comedy
Comedy
Drama|Thriller
Action|Thriller
Children's|Comedy
Drama
Children's|Comedy|Western
Western
Adventure|Children's|Fantasy
Children's|Comedy
Adventure|Children's|Comedy
Children's|Drama
Children's|Drama
Children's|Comedy|Drama
Adventure|Children's
Children's|Comedy
Adventure|Children's
Children's|Comedy|Mystery
Adventure|Children's|Fantasy|Sci-Fi
Comedy
Children's|Comedy
Animation|Children's|Musical
Animation|Children's
Animation|Children's|Musical
Animation|Children's
Children's|Drama
Drama
Children's|Comedy|Musical
Animation|Children's|Musical
Adventure|Animation|Children's|Musical
Adventure|Children's|Musical
Animation|Children's|Musical
Animation|Children's
Crime
Musical
Action|Thriller
Action|Sci-Fi|Thriller
Drama
Documentary
Drama
Drama
Comedy
Drama|Romance
Drama
Comedy|Drama
Drama|Romance
Action|Thriller
Action|Adventure
Documentary|Drama
Drama
Drama
Crime|Drama
Drama
Thriller
Drama
Comedy|Musical|Romance
Drama
Drama|Romance
Comedy|Drama
Crime|Drama
Drama
Drama
Animation|Children's|Comedy
Mystery
Comedy|Musical|Romance
Comedy|Musical|Romance
Crime|Film-Noir
Film-Noir|Thriller
Adventure
Romance|War
Adventure|Children's|Comedy|Fantasy
Comedy
Thriller
Comedy|Sci-Fi
Comedy|War
Comedy
Comedy
Comedy|Musical
Drama
Comedy|Musical
Crime|Drama
Adventure|Drama
Mystery|Thriller
Musical
Musical|Romance
Crime|Thriller
Drama|War
Comedy
Mystery|Thriller
Drama|Musical
Drama|Romance|War
Drama
Drama
Children's|Drama|Fantasy|Sci-Fi
Comedy
Drama
Action|Romance
Action|Romance
Action
Drama
Drama
Horror
Documentary
Comedy
Documentary
Drama
Action
Documentary
Action|Drama
Comedy
Drama
Comedy|Drama
Drama
Drama
Adventure|Western
Drama
Drama
Drama
Documentary
Documentary
Drama
Comedy
Comedy|Fantasy
Action|Adventure|Sci-Fi|Thriller
Horror
Action|Adventure|Sci-Fi|Thriller
Horror
Drama
Drama
Comedy|Drama
Action|Drama
Comedy
Comedy
Romance
Documentary
Drama
Drama
Drama
Drama
Comedy
Documentary
Documentary
Comedy|Drama
Documentary
Animation|Comedy
Documentary|Drama
Drama
Animation|Comedy|Thriller
Crime|Film-Noir|Thriller
Film-Noir
Film-Noir
Drama
Drama
Drama
Comedy
Romance
Comedy
Drama
Comedy
Drama
Drama
Drama|Thriller
Comedy
Comedy
Horror
Documentary
Action
Comedy
Comedy|Drama|Romance
Drama
Comedy
Comedy|Sci-Fi
Drama
Drama
Drama|War
Crime|Drama|Film-Noir
Comedy
Action
Drama|Romance|War
Comedy|War
Drama
Drama
Drama
Comedy|Romance
Documentary
Drama
Documentary
Documentary
Drama
Comedy
Action|Adventure|Drama|Sci-Fi|War
Action|Adventure|Comedy|Romance
Action|Adventure
Sci-Fi
Action|Sci-Fi|Thriller|War
Action|Western
Comedy
Drama
Adventure|War
Action|Animation|Children's|Sci-Fi|Thriller|War
Sci-Fi
Drama
Drama|War
Western
Action|Adventure|Romance|Sci-Fi|War
Comedy|Drama|Romance
Mystery|Thriller
Crime|Drama
Action|Horror|Sci-Fi|Thriller
Action|Adventure|Comedy|Horror|Sci-Fi
Adventure|Romance
Drama|War
Action|Thriller
Horror|Thriller
Action|Comedy|Musical
Action|Crime|Drama
Action|Drama|War
Animation|Comedy
Drama|War
Drama
Comedy|Romance
Crime|Drama|Thriller
Drama
Comedy|Romance
Drama
Mystery|Sci-Fi
Action|Drama|War
Comedy|Crime
Comedy
Comedy|Drama
Drama
Comedy
Action|Sci-Fi|Thriller
Comedy|Horror
Action|Drama|War
Comedy|Drama
Comedy|Drama|Romance
Drama
Drama
Drama|Romance
Crime|Film-Noir|Thriller
Thriller
Drama|War
Drama
Film-Noir|Mystery|Thriller
Drama|Sci-Fi
Adventure
Comedy|Horror
Comedy|War
Comedy
Horror
Adventure|Comedy|Drama
Crime|Film-Noir|Thriller
Action|Adventure|Comedy|Horror
Adventure|War
Drama|War
Action|Drama|Mystery|Romance|Thriller
Comedy|Romance
Western
Film-Noir|Thriller
Drama
Comedy|Mystery|Thriller
Comedy|Sci-Fi
Drama
Drama|War
Comedy|Drama
Adventure|Animation|Sci-Fi|Thriller
Action|Adventure
Comedy|Drama
Action|Drama|Romance
Comedy|Horror
Comedy|Drama
Drama
Comedy
Animation|Children's|Musical
Western
Film-Noir|Mystery
Comedy
Drama|Romance
Action|Adventure|Drama
Comedy|Drama|Musical
Documentary|War
Drama|Romance
Action|Adventure
Comedy
Drama
Comedy|War
Drama
Drama|Romance
Comedy
Drama|Musical|War
Drama|War
Drama
Sci-Fi
Drama
Adventure
Action|Comedy|Western
Drama
Drama|Sci-Fi
Comedy|Romance
Comedy
Drama|Romance
Documentary
Comedy
Drama
Crime
Romance
Documentary
Drama
Comedy
Comedy|Drama
Documentary
Action|Horror|Sci-Fi|Thriller
Horror
Horror
Horror
Horror
Horror
Horror
Horror
Horror
Horror
Comedy|Horror
Horror
Horror|Thriller
Horror
Horror|Sci-Fi
Action|Horror
Horror
Horror
Horror|Romance
Horror
Horror
Horror
Thriller
Film-Noir|Thriller
Horror
Horror
Horror
Horror
Horror
Horror
Drama
Crime|Thriller
Comedy|Romance
Drama
Horror|Thriller
Action|Adventure|Sci-Fi
Drama|Romance
Drama|Thriller
Adventure|Children's|Comedy
Drama
Documentary
Drama
Drama
Action
Drama
Drama
Children's|Comedy
Drama
Drama|Thriller
Action|Thriller
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Sci-Fi
Action|Adventure|Comedy|Crime
Action|Comedy|Western
Action|Comedy|Western
Comedy|Musical|Romance
Comedy|Musical|Romance
Action|Drama
Action|Sci-Fi
Drama
Action
Western
Action|Horror
Action|Horror
Action|Horror
Comedy
Action|Comedy|Sci-Fi|War
Comedy|Drama
Drama|Romance
Comedy
Comedy|Drama
Crime|Drama|Sci-Fi
Drama
Romance|War
Drama
Drama
Drama
Crime|Drama
Animation|Comedy
Drama
Horror|Thriller
Action|Romance|War
Comedy|Romance
Comedy|Drama
Drama
Drama
Drama
Comedy
Crime|Drama|Romance
Drama|Musical
Drama
Drama
Documentary
Documentary
Mystery|Thriller
Drama
Action
Comedy
Children's
Thriller
Drama
Action
Thriller
Action|Comedy
Action
Comedy|Horror
Action
Comedy
Drama
Action|Thriller
Comedy
Comedy
Comedy|Romance
Drama
Documentary
Comedy
Comedy|War
Comedy
Crime
Documentary
Comedy
War
Comedy|Romance
Comedy
Comedy|Romance
Comedy
Comedy|Romance
Romance
Mystery|Thriller
Children's|Comedy|Mystery
Comedy
Documentary
Comedy|Romance
Mystery
Drama
Crime|Drama
Comedy|Drama
Comedy|Romance
Documentary
Drama
Crime|Thriller
Action|Comedy|Crime|Drama
Children's|Comedy
Romance
Comedy|Drama
Romance
Action|Romance|Thriller
Action|Drama|Thriller
Comedy|Drama
Drama|Thriller
Mystery
Comedy
Drama
Drama|Musical
Action|Drama|Thriller|War
Animation|Children's|Musical
Comedy
Romance
Comedy
Action|Adventure|Children's
Drama|Romance
Action
Drama|Romance
Action|Adventure|Thriller
Comedy|Crime
Crime
Romance
Comedy
Drama
Drama|War
Drama
Drama
Drama
Comedy
Comedy
Romance
Drama|Thriller
Comedy
Comedy
Action|Thriller
Drama
Romance
Drama
Action|Crime|Romance
Drama
Action|Adventure|Children's|Fantasy
Comedy
Action|Sci-Fi
Comedy
Drama
Drama
Comedy
Drama
Drama
Drama|Romance
Comedy
Adventure|Children's
Comedy|Crime
Comedy|Romance
Comedy|Drama|Romance
Drama
Action|Adventure|Sci-Fi|Thriller
Drama
Comedy
Children's|Drama
Drama
Drama|Romance
Comedy|Romance
Adventure|Children's|Drama
Action|Adventure|Thriller
Comedy
Drama|Romance
Drama
Action|Romance|Thriller
Drama
Comedy
Drama
Comedy
Action|Adventure|Crime
Drama
Comedy|Romance
Comedy|Thriller
Adventure|Animation|Children's|Comedy|Musical
Drama
Crime|Drama|Mystery
Comedy|Romance
Sci-Fi
Comedy|Romance
Drama
Action|Sci-Fi|Thriller
Romance
Drama
Drama
Crime
Drama
Action|Adventure|Comedy|Sci-Fi
Comedy
Adventure|Children's
Children's|Fantasy
Drama|Sci-Fi
Comedy
Action|Drama|War
Action|Adventure
Children's|Comedy
Crime|Drama|Mystery
Action|Mystery|Sci-Fi|Thriller
Action|Adventure|Sci-Fi|Thriller
Children's|Comedy
Comedy|Romance
Drama
Adventure|Children's|Drama
Drama
Action|Mystery|Romance|Thriller
Crime|Drama|Thriller
Action
Drama|Romance
Crime|Drama|Film-Noir
Comedy
Sci-Fi|Thriller
Action|Comedy
Adventure|Romance
Action|Adventure
Action|Thriller
Drama
Action|Thriller
Drama
Comedy
Drama
Comedy
Adventure|Thriller
Action|Thriller|War
Crime|Film-Noir|Mystery|Thriller
Drama|War
Crime|Drama|Thriller
Drama
Comedy|Drama
Horror
Drama
Mystery|Thriller
Action|Drama|Thriller
Action|Crime|Mystery
Drama
Comedy|Romance
Comedy|Drama
Thriller
Comedy|Romance
Drama
Drama
Action|Thriller

In [60]:
movies.genres

0        Animation|Children's|Comedy
1       Adventure|Children's|Fantasy
2                     Comedy|Romance
3                       Comedy|Drama
4                             Comedy
                    ...
3878                          Comedy
3879                           Drama
3880                           Drama
3881                           Drama
3882                  Drama|Thriller
Name: genres, Length: 3883, dtype: object

In [66]:
dummies.columns

Index(['Animation', 'Children's', 'Comedy', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Sci-Fi',
       'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir', 'Western'],
      dtype='object')

In [63]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split('|')) # get_indexer aplica a lista dummies.columns no gen.split() col in col index
    dummies.iloc[i, indices] = 1

[0 1 2]
[3 1 4]
[2 5]
[2 6]
[2]
[7 8 9]
[2 5]
[3 1]
[7]
[7 3 9]
[2 6 5]
[ 2 10]
[0 1]
[6]
[7 3 5]
[6 9]
[6 5]
[9]
[2]
[7]
[7 2 6]
[8 6 9]
[9]
[ 6 11]
[6 5]
[6]
[6]
[5]
[ 3 11]
[6]
[6]
[ 6 11]
[3 5]
[1 2 6]
[6 5]
[6]
[12]
[2]
[2 5]
[6]
[ 6 13]
[7 8 6]
[6]
[7 3]
[2 6]
[6 5]
[8 9]
[ 0  1 14  5]
[6 5]
[8 9]
[7 6 9]
[2]
[6]
[1 2]
[6]
[3 1 4]
[6]
[6 5]
[ 6 15]
[3 1 4]
[6 9]
[6]
[2]
[2 5]
[2]
[11  9]
[6]
[2 5]
[2]
[ 7  2  8 10  9]
[7]
[2 6]
[ 6 14]
[6 5]
[2 6]
[11  9]
[12]
[6]
[6 9]
[6]
[8 6 5]
[6]
[6]
[2 6]
[6 5]
[3 6]
[1 2]
[2]
[7 9]
[6]
[6 9]
[2 5]
[6]
[7 9]
[2]
[6]
[7 9]
[12]
[6 9]
[2]
[2]
[9]
[2]
[6 5]
[2 6]
[ 3  1  2 14]
[12]
[2]
[ 7  6 13]
[6 9]
[7 3 8]
[ 6 15]
[6]
[2]
[12]
[8]
[2 5]
[2]
[6]
[6]
[2 5]
[ 6 15  5]
[6]
[2]
[3 1 4]
[6]
[12]
[2 5]
[6]
[6 5]
[9]
[2 6]
[12]
[2]
[12]
[12]
[6]
[7 6]
[6 5]
[2]
[6]
[6]
[2]
[7]
[3 1]
[6]
[6]
[8 6 9]
[6]
[ 6  5 13]
[10]
[7 3 2 8]
[6]
[ 6 13]
[2]
[ 2 13]
[3 1]
[6]
[ 7  3 15 11]
[ 6  9 13]
[12]
[7 5 9]
[ 8 16 15  9]
[7 9]
[2 6]
[6]
[7 3 6 5]
[3 1 6]
[7 8 9]
[2]
[ 7 11  9]
[ 7  3 11]
[2]
[6]
[2]
[10]
[2]
[6 5]
[2]
[7 1]
[6 5]
[9]
[6]
[11  9]
[2]
[2]
[10]
[2]
[9]
[6]
[12]
[6]
[6]
[2 6 5]
[10 11]
[6]
[ 7  8 11]
[ 6 14]
[9]
[6]
[6 5]
[2]
[7]
[2 6]
[12]
[6 5]
[7 3]
[6]
[17]
[6]
[2]
[6]
[6]
[6 5]
[2]
[6 9]
[2 6]
[6]
[10]
[6 5]
[2]
[2 6 5]
[6 9]
[9]
[7]
[2]
[6 9]
[6 9]
[2]
[2 6]
[6]
[2]
[2 6]
[2 5]
[2 5]
[3 1]
[0 1 2 5]
[9]
[1 6]
[ 6 14]
[2]
[0 1]
[8 6]
[12]
[6 4 5 9]
[2]
[6 5]
[1 2]
[7]
[2 5]
[ 6 10]
[6]
[2]
[ 2 11]
[15  9]
[3 1 2 4 5]
[8 6 9]
[ 7  3  4 11]
[6]
[1 6]
[6]
[6]
[6 5]
[ 6  5 13 17]
[2]
[6]
[6]
[6 5]
[6]
[6]
[ 6 10]
[2]
[2]
[2 5]
[6]
[2]
[6]
[6 9]
[6]
[6]
[8 6]
[7 8]
[ 6 10]
[ 7 11  9]
[2 5]
[7 9]
[2 5]
[8 6]
[9]
[7 6 9]
[8 6 5 9]
[2 5]
[2 5]
[8 6]
[6]
[2]
[6]
[6]
[6 5]
[6 5]
[ 7  3 17]
[2 6]
[2]
[6]
[6]
[6]
[6]
[2]
[10  9]
[2]
[0 1]
[6]
[7]
[ 7  3 11]
[1 2 4]
[6]
[9]
[16  9]
[6]
[2 6]
[2]
[2]
[6]
[ 7  2 14 11]
[10]
[ 7  3 11]
[ 2 10]
[6]
[10 11]
[2]
[6]
[15  9]
[ 6 13]
[6]
[11  9]
[2 5]
[3 6]
[6]
[2 5]
[1]
[2]
[2 6]
[ 6 14]
[6]
[2]
[7 3 9]
[ 6 15  9]
[2 6 5]
[2]
[7 5 9]
[6]
[1 2]
[ 2  5 13]
[2 5]
[6]
[2 6 5]
[7 2]
[6 5]
[3 1 5]
[12]
[ 0  1 14]
[6]
[10]
[2 8 4]
[ 7  2 17]
[6]
[2]
[2 6]
[2 6]
[9]
[1 2]
[6]
[7 9]
[7 5 9]
[2 5]
[ 7 11]
[7 3 2 5]
[6]
[ 6 10]
[17]
[7]
[6]
[6]
[7 2]
[6]
[ 6  5 13]
[7 2 6]
[8 6]
[3 1]
[7]
[7]
[6]
[6]
[10]
[12]
[6]
[6]
[7 9]
[2]
[2 8 6]
[12]
[ 7 11]
[6]
[10  9]
[6]
[6]
[2]
[2]
[6]
[2]
[2]
[2 9]
[17]
[2 5]
[6]
[2]
[7 2]
[3 1]
[9]
[7 9]
[6]
[6 5]
[10 11  9]
[15  5  9]
[6]
[2]
[6]
[8 6]
[ 2 17]
[2]
[7 3 8]
[ 2 11]
[6 9]
[2]
[7 2]
[6]
[2 5]
[2]
[ 7 11]
[12]
[2 5]
[2]
[6 5]
[2 5]
[6]
[2]
[2 6]
[ 6 15  5]
[6]
[2]
[6 9]
[3 1 6]
[6]
[7 9]
[ 6 17]
[7]
[2]
[6 5]
[7 3]
[8 6 9]
[7 3 8 9]
[ 7  6 13]
[ 7  2 13]
[2]
[2 5]
[6 5]
[2]
[2 5]
[2 6]
[ 2 13]
[7 9]
[6]
[2 6]
[6]
[2]
[7]
[ 7  3 11]
[6 9]
[9]
[6]
[3 1]
[7 2]
[2]
[ 2 17]
[6]
[2]
[9]
[6]
[ 2 15]
[7 8 6]
[7 9]
[6]
[2 6 5]
[2 5]
[6 5]
[2 5]
[2]
[6]
[7 1]
[6]
[ 7 11]
[2]
[6]
[7 6]
[6]
[6 5]
[6]
[7 6]
[10 11]
[ 2 15  5]
[2]
[6]
[ 2  6 13]
[ 7  6 15]
[2]
[11  9]
[2]
[8 9]
[7 6]
[6]
[6]
[6]
[6]
[ 6 13]
[6]
[6]
[6]
[1 6]
[ 2  8 10]
[7]
[6 5]
[6]
[6]
[2 6]
[6]
[2 5]
[9]
[16 11]
[2]
[2 5 9]
[7]
[6]
[ 7  3  1 11]
[7 3 9]
[7]
[12]
[2 5]
[ 1  2 14]
[7 3 2]
[17]
[9]
[7 8 5]
[12]
[6]
[7 3 0 1 4]
[2]
[6]
[9]
[2 6]
[6]
[2]
[10]
[2 5]
[6]
[2 6]
[1 2]
[2 6]
[6]
[6]
[6]
[2 6]
[1 2]
[2]
[3 1]
[ 6 15]
[9]
[6]
[12]
[2]
[2 6]
[6]
[2]
[1 2]
[2 5 9]
[ 0  1  2 14]
[ 7 11  9]
[ 3  6 17]
[7 6 9]
[7 3 8 6]
[6 9]
[ 0  1 14]
[ 0  1 14]
[0 1]
[2 5]
[2]
[17]
[9]
[6]
[12]
[2]
[12]
[6 5]
[10]
[6]
[8 6 9]
[3 1]
[ 7  3  0 10 11]
[ 7 10 11]
[2]
[6 5]
[6 9]
[6]
[0 1]
[6]
[2 5]
[2]
[6]
[6]
[5]
[7 6 9]
[6]
[2]
[6 9]
[6 9]
[6]
[6 5]
[ 0  1 14]
[13]
[2]
[2]
[2 6]
[6]
[2]
[5]
[2]
[6 9]
[2]
[6]
[2]
[2]
[6]
[ 6 13]
[ 7  3 15]
[2 6]
[6]
[2]
[15]
[7 3 4]
[6 5]
[2]
[2]
[2 6]
[6]
[8 9]
[6]
[ 0  1 14]
[9]
[2]
[2]
[13]
[6]
[7]
[6]
[6]
[6]
[ 2 11]
[6]
[3 0 1 2 4]
[ 3 11]
[7 6 9]
[6]
[6 9]
[6]
[11]
[8]
[12  6]
[12]
[6]
[6]
[6 5]
[ 7  3  2 13]
[5]
[2 5]
[ 7 11  9]
[6]
[7]
[15  9]
[9]
[6 5]
[6]
[6]
[2]
[6]
[6]
[6]
[7 3]
[2]
[6]
[ 8 16  9]
[2 5]
[0 1]
[2]
[3 1]
[6]
[6]
[17]
[6]
[8]
[2]
[ 2 11]
[2]
[0]
[6]
[12]
[6]
[ 6 10]
[2]
[6]
[12]
[2]
[6]
[6]
[15  9]
[8]
[7 3 9]
[2]
[ 2 10]
[7 3 5 9]
[ 7 11]
[6]
[2]
[ 0 11]
[10  9]
[2]
[6]
[0 2 9]
[16]
[2]
[ 7 11  9]
[6]
[11 13]
[2]
[2 5]
[2 6]
[3 1]
[1 6]
[12]
[6]
[6]
[12]
[13]
[3]
[2 8]
[6]
[6 5]
[2 6]
[6]
[6]
[6]
[12]
[6]
[2 6]
[2]
[6]
[6]
[10]
[2 6]
[13]
[6]
[6 5]
[ 7 11 13]
[6]
[9]
[ 0  1 14]
[2]
[2]
[7 9]
[12]
[ 2  4  5 11]
[6]
[6]
[12]
[4]
[6]
[2 6]
[6]
[6]
[2]
[7 3 9]
[ 2 10]
[ 6 15]
[1 2]
[6 5]
[5]
[2 5]
[6]
[6]
[2 5]
[3 1]
[7 3]
[1 2 4]
[2]
[6]
[2]
[6]
[ 7 15  9]
[6]
[2]
[2 6]
[6]
[5]
[6]
[6]
[6]
[2 5]
[6]
[6]
[3 1]
[ 2 14]
[2]
[6]
[6 9]
[2]
[2]
[6]
[7 3 9]
[1 2]
[2 6 5]
[7 9]
[2]
[10]
[10]
[6]
[6]
[6]
[6]
[2 6]
[6]
[ 7  3 11  9]
[8 6]
[6]
[2 5]
[6]
[6]
[6]
[2]
[6]
[7 8 6]
[12]
[2]
[7 9]
[6]
[2]
[2 6]
[6]
[8 6 5 9]
[2 8]
[2]
[8]
[2]
[2]
[6]
[6]
[8 6]
[6]
[7]
[6]
[6]
[10]
[11  9]
[1 2]
[6 9]
[6]
[1 6 4]
[7]
[6]
[0 1]
[5]
[9]
[10  9]
[2 6 5]
[6]
[5]
[6]
[6]
[ 3 13]
[2 5]
[14  5]
[14  5]
[ 2 14]
[6 5]
[15  9]
[15  9]
[2]
[15  9]
[ 2 14  5]
[6 9]
[2 6]
[2 8]
[ 2 15  5  9]
[ 6  5 13]
[16 15]
[14  5]
[2 5]
[2 5]
[1 6]
[14]
[ 3  1  6 14]
[ 6  5 13]
[2]
[16]
[6]
[ 6 15 11  9]
[3 5]
[6]
[2]
[5 9]
[9]
[16  5  9]
[15  5  9]
[5]
[2 5 9]
[2]
[ 2 14]
[2 5]
[2 5]
[14]
[2 6]
[7 3]
[3]
[ 8 16 15]
[6 5]
[6]
[ 2 14  5]
[ 2  6 13]
[2]
[6]
[6]
[15]
[2]
[3 2]
[6]
[6]
[2]
[6 5]
[6]
[ 2 15]
[6]
[8 6]
[6]
[8 6]
[14]
[17]
[9]
[6]
[17]
[10 11]
[ 7  3  5 13]
[2 6]
[6]
[6]
[6]
[6 5]
[ 2 14]
[ 5 13]
[15]
[6]
[ 6 13]
[7]
[6]
[6]
[5]
[2 6]
[12]
[3 1]
[6 5]
[2 6]
[6]
[7 3 9]
[ 6 13]
[9]
[6]
[6]
[ 7  6 17]
[6 9]
[7 8]
[8]
[8]
[2]
[2]
[6 9]
[7 9]
[1 2]
[6]
[ 1  2 17]
[17]
[3 1 4]
[1 2]
[3 1 2]
[1 6]
[1 6]
[1 2 6]
[3 1]
[1 2]
[3 1]
[ 1  2 15]
[ 3  1  4 11]
[2]
[1 2]
[ 0  1 14]
[0 1]
[ 0  1 14]
[0 1]
[1 6]
[6]
[ 1  2 14]
[ 0  1 14]
[ 3  0  1 14]
[ 3  1 14]
[ 0  1 14]
[0 1]
[8]
[14]
[7 9]
[ 7 11  9]
[6]
[12]
[6]
[6]
[2]
[6 5]
[6]
[2 6]
[6 5]
[7 9]
[7 3]
[12  6]
[6]
[6]
[8 6]
[6]
[9]
[6]
[ 2 14  5]
[6]
[6 5]
[2 6]
[8 6]
[6]
[6]
[0 1 2]
[15]
[ 2 14  5]
[ 2 14  5]
[ 8 16]
[16  9]
[3]
[ 5 13]
[3 1 2 4]
[2]
[9]
[ 2 11]
[ 2 13]
[2]
[2]
[ 2 14]
[6]
[ 2 14]
[8 6]
[3 6]
[15  9]
[14]
[14  5]
[8 9]
[ 6 13]
[2]
[15  9]
[ 6 14]
[ 6  5 13]
[6]
[6]
[ 1  6  4 11]
[2]
[6]
[7 5]
[7 5]
[7]
[6]
[6]
[10]
[12]
[2]
[12]
[6]
[7]
[12]
[7 6]
[2]
[6]
[2 6]
[6]
[6]
[ 3 17]
[6]
[6]
[6]
[12]
[12]
[6]
[2]
[2 4]
[ 7  3 11  9]
[10]
[ 7  3 11  9]
[10]
[6]
[6]
[2 6]
[7 6]
[2]
[2]
[5]
[12]
[6]
[6]
[6]
[6]
[2]
[12]
[12]
[2 6]
[12]
[0 2]
[12  6]
[6]
[0 2 9]
[ 8 16  9]
[16]
[16]
[6]
[6]
[6]
[2]
[5]
[2]
[6]
[2]
[6]
[6]
[6 9]
[2]
[2]
[10]
[12]
[7]
[2]
[2 6 5]
[6]
[2]
[ 2 11]
[6]
[6]
[ 6 13]
[ 8  6 16]
[2]
[7]
[ 6  5 13]
[ 2 13]
[6]
[6]
[6]
[2 5]
[12]
[6]
[12]
[12]
[6]
[2]
[ 7  3  6 11 13]
[7 3 2 5]
[7 3]
[11]
[ 7 11  9 13]
[ 7 17]
[2]
[6]
[ 3 13]
[ 7  0  1 11  9 13]
[11]
[6]
[ 6 13]
[17]
[ 7  3  5 11 13]
[2 6 5]
[15  9]
[8 6]
[ 7 10 11  9]
[ 7  3  2 10 11]
[3 5]
[ 6 13]
[7 9]
[10  9]
[ 7  2 14]
[7 8 6]
[ 7  6 13]
[0 2]
[ 6 13]
[6]
[2 5]
[8 6 9]
[6]
[2 5]
[6]
[15 11]
[ 7  6 13]
[2 8]
[2]
[2 6]
[6]
[2]
[ 7 11  9]
[ 2 10]
[ 7  6 13]
[2 6]
[2 6 5]
[6]
[6]
[6 5]
[ 8 16  9]
[9]
[ 6 13]
[6]
[16 15  9]
[ 6 11]
[3]
[ 2 10]
[ 2 13]
[2]
[10]
[3 2 6]
[ 8 16  9]
[ 7  3  2 10]
[ 3 13]
[ 6 13]
[ 7  6 15  5  9]
[2 5]
[17]
[16  9]
[6]
[ 2 15  9]
[ 2 11]
[6]
[ 6 13]
[2 6]
[ 3  0 11  9]
[7 3]
[2 6]
[7 6 5]
[ 2 10]
[2 6]
[6]
[2]
[ 0  1 14]
[17]
[16 15]
[2]
[6 5]
[7 3 6]
[ 2  6 14]
[12 13]
[6 5]
[7 3]
[2]
[6]
[ 2 13]
[6]
[6 5]
[2]
[ 6 14 13]
[ 6 13]
[6]
[11]
[6]
[3]
[ 7  2 17]
[6]
[ 6 11]
[2 5]
[2]
[6 5]
[12]
[2]
[6]
[8]
[5]
[12]
[6]
[2]
[2 6]
[12]
[ 7 10 11  9]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[ 2 10]
[10]
[10  9]
[10]
[10 11]
[ 7 10]
[10]
[10]
[10  5]
[10]
[10]
[10]
[9]
[16  9]
[10]
[10]
[10]
[10]
[10]
[10]
[6]
[8 9]
[2 5]
[6]
[10  9]
[ 7  3 11]
[6 5]
[6 9]
[3 1 2]
[6]
[12]
[6]
[6]
[7]
[6]
[6]
[1 2]
[6]
[6 9]
[7 9]
[ 7  3 11]
[ 7  3 11]
[ 7  3 11]
[ 7  3 11]
[ 7  3 11]
[ 7  3 11]
[7 3 2 8]
[ 7  2 17]
[ 7  2 17]
[ 2 14  5]
[ 2 14  5]
[7 6]
[ 7 11]
[6]
[7]
[17]
[ 7 10]
[ 7 10]
[ 7 10]
[2]
[ 7  2 11 13]
[2 6]
[6 5]
[2]
[2 6]
[ 8  6 11]
[6]
[ 5 13]
[6]
[6]
[6]
[8 6]
[0 2]
[6]
[10  9]
[ 7  5 13]
[2 5]
[2 6]
[6]
[6]
[6]
[2]
[8 6 5]
[ 6 14]
[6]
[6]
[12]
[12]
[15  9]
[6]
[7]
[2]
[1]
[9]
[6]
[7]
[9]
[7 2]
[7]
[ 2 10]
[7]
[2]
[6]
[7 9]
[2]
[2]
[2 5]
[6]
[12]
[2]
[ 2 13]
[2]
[8]
[12]
[2]
[13]
[2 5]
[2]
[2 5]
[2]
[2 5]
[5]
[15  9]
[ 1  2 15]

[2]
[12]
[2 5]
[15]
[6]
[8 6]
[2 6]
[2 5]
[12]
[6]
[8 9]
[7 2 8 6]
[1 2]
[5]
[2 6]
[5]
[7 5 9]
[7 6 9]
[2 6]
[6 9]
[15]
[2]
[6]
[ 6 14]
[ 7  6  9 13]
[ 0  1 14]
[2]
[5]
[2]
[7 3 1]
[6 5]
[7]
[6 5]
[7 3 9]
[2 8]
[8]
[5]
[2]
[6]
[ 6 13]
[6]
[6]
[6]
[2]
[2]
[5]
[6 9]
[2]
[2]
[7 9]
[6]
[5]
[6]
[7 8 5]
[6]
[7 3 1 4]
[2]
[ 7 11]
[2]
[6]
[6]
[2]
[6]
[6]
[6 5]
[2]
[3 1]
[2 8]
[2 5]
[2 6 5]
[6]
[ 7  3 11  9]
[6]
[2]
[1 6]
[6]
[6 5]
[2 5]
[3 1 6]
[7 3 9]
[2]
[6 5]
[6]
[7 5 9]
[6]
[2]
[6]
[2]
[7 3 8]
[6]
[2 5]
[2 9]
[ 3  0  1  2 14]
[6]
[ 8  6 15]
[2 5]
[11]
[2 5]
[6]
[ 7 11  9]
[5]
[6]
[6]
[8]
[6]
[ 7  3  2 11]
[2]
[3 1]
[1 4]
[ 6 11]
[2]
[ 7  6 13]
[7 3]
[1 2]
[ 8  6 15]
[ 7 15 11  9]
[ 7  3 11  9]
[1 2]
[2 5]
[6]
[3 1 6]
[6]
[ 7 15  5  9]
[8 6 9]
[7]
[6 5]
[ 8  6 16]
[2]
[11  9]
[7 2]
[3 5]
[7 3]
[7 9]
[6]
[7 9]
[6]
[2]
[6]
[2]
[3 9]
[ 7  9 13]
[ 8 16 15  9]
[ 6 13]
[8 6 9]
[6]
[2 6]
[10]
[6]
[15  9]
[7 6 9]
[ 7  8 15]
[6]
[2 5]
[2 6]
[9]
[2 5]
[6]
[6]
[7 9]
[6 5]
[2]
[2]
[2 6]
[6 5]
[10 15  9]
[ 8 10 15  9]
[2]
[8 9]
[2 6 9]
[12]
[6]
[6]
[12]
[ 6 11  9]
[1 6 4]
[10]
[5]
[12]
[5 9]
[6]
[6]
[9]
[8]
[2]
[6]
[2]
[5]
[7 6]
[6]
[5]
[ 6 13]
[8]
[6]
[6]
[6 5 9]
[8 9]
[ 7  3 11 13]
[2]
[6]
[2]
[6 5]
[7 3]
[6]
[6 5 9]
[5]
[5]
[8 9]
[7 9]
[ 0  1 14]
[ 2 15]
[ 7 10 11]
[10 11]
[6]
[6]
[6]
[ 6 13]
[8]
[2]
[6]
[2 6]
[1 2 4]
[2]
[6]
[6]
[6]
[1 2]
[6]
[9]
[6]
[ 2  8  6 15]
[1 2]
[5]
[9]
[6]
[10  9]
[9]
[6]
[ 7  3 11]
[6 5]
[7 5 9]
[2 6]
[6]
[6]
[6]
[6]
[6]
[8 6]
[6]
[2]
[ 2  8 15  9]
[6 5]
[2 6]
[6 5]
[2]
[7 1]
[7 6]
[6]
[8]
[12]
[7 3 9]
[2]
[2 6]
[16 11  9]
[5]
[ 3  1  4 11]
[7 9]
[2]
[ 7 15  9]
[5]
[10]
[6]
[6]
[6]
[ 2 14]
[ 7 10 11]
[2 9]
[8 6]
[6 5]
[6]
[7 9]
[5 9]
[10]
[ 7  2 14]
[7 6]
[2 6]
[6]
[2 5]
[ 3 11  9]
[12]
[6]
[2 5]
[16 15  9]
[2 6]
[7 8]
[12]
[7 6]
[6]
[8 6]
[7 9]
[2]
[2 6]
[6]
[7 6]
[12]
[9]
[8 6]
[7 6 5]
[8 6]
[ 8  6 15  9]
[3 1 2]
[6]
[2 8 6]
[6]
[6]
[1 2 6]
[6]
[6]
[2 6]
[2 6 5]
[6]
[6]
[2 5]
[1 2]
[2 9]
[7 6]
[3 1]
[ 2 12]
[6 5]
[2]
[ 7 11  9]
[7 6]
[7 6 9]
[6 9]
[5]
[6]
[2]
[2]
[6]
[6 9]
[8 6]
[1 2]
[6]
[2 9]
[6]
[6 9]
[3 1 2 4]
[3]
[6 5]
[6 5]
[6 9]
[2]
[2 5]
[2]
[12 14]
[2]
[7 2]
[6]
[6]
[2 9]
[10 11]
[2]
[2]
[12]
[7 2]
[7 3]
[ 6 13]
[7 9]
[2 6]
[2 6]
[6]
[6]
[2 5]
[2]
[ 7  6 11  9]
[6]
[2 5]
[6]
[6]
[3 0 1 4]
[ 7 11]
[2]
[2 6]
[2 6]
[2]
[3 2]
[2 6 5]
[9]
[6]
[10  9]
[15  9]
[6]
[3 2 5]
[2 6 5]
[2]
[6 5]
[ 6 13]
[3 6]
[6]
[12]
[6 5]
[2]
[2 6]
[6]
[2 5]
[0 1]
[6 9]
[15 11  9]
[7 2 8]
[2]
[7 8 5]
[ 6 15]
[2 6]
[6]
[7 2 6]
[ 7  3 11  9]
[7 2 8 6]
[1 2]
[ 0  1  4 13]
[11  9]
[6]
[2]
[10 11]
[ 6  5 13]
[14]
[13]
[17]
[6]
[6]
[3]
[14]
[6]
[2]
[6]
[ 6 13]
[2]
[6]
[ 6 13]
[6]
[6]
[6]
[6]
[ 6  5 13]
[8 6]
[6 5]
[14  5]
[2]
[6]
[ 6 15]
[14]
[6]
[7 8 6 9]
[7 6]
[6]
[6]
[6]
[2 6]
[6 5]
[ 6 13]
[6]
[6]
[2]
[ 6 15]
[ 2 11]
[2]
[3 1 4]
[2 6]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10  9]
[10  9]
[10  9]
[10]
[10]
[10]
[7 2 8 6]
[7 2 8 6]
[7 2 8 6]
[ 2 10]
[ 2 10]
[3 1 4]
[7 3 5]
[2]
[ 8  6 16]
[11  9]
[11]
[ 2 11]
[ 2 11 17]
[7 3]
[1 2]
[1 2 4]
[ 1  2 17]
[ 1  4 14]
[0 1]
[7 6]
[6 5]
[ 4 11]
[6]
[7 8 6]
[ 6 15]
[6 5]
[10  9]
[2 8]
[ 7  6 13]
[2 5]
[6]
[1 2]
[1 2]
[0 1]
[11]
[1 2]
[1 2]
[3 1 2]
[ 1  2 11]
[3 1]
[1 2]
[7 3 1 2]
[1 2]
[3 1 4]
[2]
[3 1 6 5]
[ 3  1 11]
[1]
[0 1]
[ 2 14]
[3 1 2]
[3 1 2]
[1 2]
[ 1  2 11]
[ 3  1  2  4 11]
[ 2 17]
[3 1]
[3 1]
[7 9]
[1 6]
[2]
[12]
[6 5]
[6 5]
[ 2 12]
[2 6 5]
[16]
[ 6  5 13]
[6]
[6]
[6]
[6]
[2]
[2]
[6]
[ 6 13]
[ 6 15]
[3 1]
[ 0  1  2 14]
[1 6]
[ 0  1  2 14  5]
[ 0  1  2 14  5]
[1 2]
[ 1 14]
[ 1 14]
[0 1]
[6 4]
[ 0  1  4 14]
[ 3  2 14]
[0 1]
[0 1]
[ 1 11]
[ 0  1 14]
[ 3  1  4 11]
[ 7  3 11]
[1 2]
[ 0  1 14]
[ 1 10]
[1 2]
[ 3  0  1 14]
[2 4 5]
[3 6]
[ 0  1  2 14]
[3 1]
[6]
[ 7  3  4 11]
[ 6 13]
[10  9]
[2 5]
[2]
[2 8 9]
[2]
[8 6]
[10  9]
[6]
[7 3]
[ 3  0  1 11]
[ 6 11]
[10  9]
[10]
[ 6 10]
[10  9]
[10  9]
[0 1]
[2]
[6 5]
[ 7  8 15  9]
[6 5]
[2]
[12]
[8 6 5]
[6]
[6]
[3 2]
[2]
[ 3 14]
[2]
[0 1]
[0 1 6 4]
[0 1]
[ 1  4 11]
[0 1 2]
[0 1 2]
[3 4 5]
[2]
[2 6 5]
[6 5]
[6]
[ 2 10]
[ 2 10]
[2]
[2]
[1 2]
[7 3]
[6 5]
[2]
[2 6]
[5]
[ 8 10]
[ 8 10]
[10  9]
[3 1 4]
[3 1 4]
[ 2 10]
[6]
[6]
[6 5]
[ 7  3 10]
[6 5]
[2]
[7 2]
[2 6 5]
[2]
[ 3  4 11]
[2 4]
[6 5]
[9]
[2 9]
[9]
[9]
[9]
[9]
[ 6 16  9]
[9]
[15  9]
[9]
[16  9]
[15  9]
[6]
[0]
[6]
[2]
[6]
[7 3 4]
[7 8 6]
[2]
[7]
[6]
[12]
[8 6]
[6]
[6]
[ 6  9 13]
[16  9]
[9]
[2]
[15  9]
[6]
[ 2 15  5  9]
[8 9]
[9]
[9]
[9]
[ 2 14]
[9]
[2 5]
[6]
[ 2 14]
[6]
[15  9]
[6]
[9]
[2]
[2]
[6]
[6]
[6]
[9]
[6]
[6]
[2]
[8 6]
[11  9]
[6]
[6]
[ 6 13]
[6]
[6]
[2 6]
[2 6]
[6]
[2]
[6]
[2 6 5]
[2 5]
[2 6]
[2]
[2]
[2 6 5]
[2]
[6]
[2]
[2 6]
[7 2 4]
[6]
[2]
[10 11]
[2 5]
[7]
[2 5]
[7 8]
[2]
[2 6 5]
[9]
[6]
[3 2]
[2 5]
[15  9]
[8 6]
[6]
[12]
[6]
[6]
[7 9]
[6]
[ 7  3 11]
[6]
[6]
[7 8 9]
[10  9]
[8]
[8]
[2 6]
[6]
[6]
[6]
[2]
[11  9 13]
[ 7 10 11  9]
[2 6]
[2 6]
[6 5]
[5]
[6]
[0 1]
[2]
[2]
[6 5]
[9]
[2]
[ 2 14]
[2]
[2]
[ 6 14]
[6]
[6]
[2]
[7 6]
[7 8]
[6]
[6]
[15 11]
[6]
[6]
[6]
[10  9]
[6 5]
[2]
[2]
[2]
[6 9]
[2]
[ 7  3 11  9 13]
[12]
[2 6]
[2]
[6 9]
[10]
[10]
[6]
[12]
[2 5]
[8 6]
[6]
[7 9]
[2]
[6]
[6]
[10 15  9]
[2 5]
[5]
[6]
[2]
[6]
[7 3 6 9]
[6]
[11  9]
[7]
[6]
[2 9]
[2]
[6]
[2 6]
[7 9]
[0 1 2]
[0 1 2]
[2]
[6]
[6]
[2]
[6]
[2]
[6]
[ 7 11]
[ 7 11]
[ 7 11]
[ 7  3 10]
[ 7  3 10]
[ 7  3 10]
[2 5]
[7 3 6]
[2]
[2]
[7 3]
[2 6]
[2]
[7]
[10 11]
[2]
[2]
[2]
[2]
[2]
[2]
[1 2]
[2 5]
[6]
[2 8]
[6 5]
[ 8 10  9]
[2]
[8 9]
[2 6]
[ 7 11]
[ 0 14]
[2]
[2 5]
[6]
[6]
[3 1 4]
[1 6]
[17]
[ 7 13]
[7]
[ 7 13]
[7 3 2 5]
[7 3 2 5]
[ 2 11]
[ 2 11]
[7 6]
[7 6]
[7 6]
[7 6]
[ 2 15]
[ 7  3 15]
[6 5]
[2]
[2 6]
[2]
[6 9]
[6]
[7 3 6]
[7 3 6]
[2]
[2 5]
[8]
[2 6 5]
[ 7  6 13]
[10 11]
[3 1 6]
[3 1 6]
[2 6]
[6]
[6]
[6]
[6]
[2]
[6]
[6 9]
[6]
[6]
[ 6 17]
[6]
[6 5]
[2 6]
[6]
[9]
[2 6]
[10 11]
[3 1]
[ 3  1 11]
[10]
[10]
[6 4]
[10 11]
[10 11]
[10 11]
[7 2]
[2 8]
[10]
[10]
[10]
[10]
[2]
[10]
[10]
[6]
[15]
[7 2 5 9]
[2 5]
[3 2]
[3 2]
[2]
[2]
[6]
[ 7 15  9]
[ 7 13]
[3]
[ 2 17]
[6 9]
[6]
[6 5]
[2 5]
[ 2 10  9]
[2]
[2 5]
[6]
[7 2]
[ 6 10  9]
[6]
[7 9]
[2 5]
[2]
[6]
[12]
[ 0 11]
[2 5]
[5]
[ 2 11]
[2]
[2]
[6]
[2 5]
[6]
[2 6]
[9]
[2 6 5]
[2]
[6]
[2]
[2 5]
[8]
[6]
[10]
[10]
[10]
[10]
[10]
[2]
[10]
[6]
[6]
[6]
[6 9]
[7 6]
[ 7 10 11]
[11]
[ 7 11  9 17]
[ 7  3 11]
[ 7 11]
[ 7 11]
[ 7 11]
[ 7 11]
[ 7 11]
[7]
[7]
[6]
[3]
[12]
[2]
[7 8 6 9]
[6]
[2 8 9]
[2]
[6]
[2]
[6]
[6]
[10]
[ 7 11]
[10  9]
[6 9]
[2]
[10 11  9]
[10 11  9]
[2]
[2 6 5]
[6]
[2 5]
[0 1]
[ 6 10]
[8 9]
[6]
[6]
[6]
[14]
[0 1]
[2]
[7 8]
[6 5]
[6 5]
[ 7 11  9]
[2 5]
[6]
[2]
[6]
[6]
[2 6]
[11]
[6]
[8]
[2 5]
[7 2]
[15]
[2]
[6 5]
[2 8 9]
[2]
[6]
[2 6 5]
[6]
[2 5]
[6]
[2]
[ 6  5 11]
[12]
[2 6]
[2 5]
[2]
[2]
[ 7 11  9]
[2]
[ 3 11]
[6]
[12]
[8 9]
[ 2 10]
[6]
[9]
[6]
[6]
[6]
[6]
[ 7 10 11]
[ 7 10 11]
[ 3 11]
[7 8]
[ 7  3 10  9]
[2]
[6]
[6 5]
[6 5]
[2 4]
[2]
[6]
[7]
[2 6 5]
[12  6]
[ 7  3  4 11]
[2 5]
[6]
[ 2 16  9]
[6]
[10  5]
[10]
[10]
[10]
[10]
[10]
[6]
[ 7  3 11]
[ 7  3 11]
[ 7  3 11]
[ 7  3 11]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10]
[10 11]
[ 2 10 14 11]
[11]
[ 2 12]
[11]
[11]
[ 7 11 13]
[11]
[10 11]
[11]
[11]
[11]
[10 11]
[13]
[13]
[2 5]
[ 6 11  9]
[6]
[6]
[2 6 5]
[6 9]
[12]
[6]
[6 5]
[6]
[ 2  5 11]
[6]
[2]
[2 6]
[2 6]
[ 6 15]
[0 1]
[6 9]
[12]
[2]
[6]
[7 8 5]
[12]
[2]
[6]
[2]
[2 6 5]
[11]
[ 7  2 11  9]
[0 2]
[ 7 11 17]
[6]
[6]
[6 5]
[6]
[2]
[9]
[5]
[1 2]
[10]
[6]
[6]
[10  9]
[6]
[2 5]
[ 2 10]
[ 2 10]
[2]
[10  9]
[7 3 1 2]
[5]
[ 7 11  9]
[7 3 2]
[2 5]
[6]
[ 8 16]
[16]
[6]
[6]
[6]
[6]
[6]
[3 2]
[6]
[7 3 2]
[2]
[7]
[2 6]
[6]
[10]
[7 9]
[2 6]
[6]
[6]
[6]
[ 2 10 14]
[ 2 10]
[7 3]
[ 6 15]
[2 6]
[2]
[ 2 15]
[9]
[10]
[6]
[7]
[6]
[6]
[2]
[6]
[0 1]
[9]
[7 9]
[8 6 9]
[2 6]
[2 6]
[2]
[2]
[ 8 15]
[2]
[6]
[2]
[6]
[2 5]
[6]
[12]
[6]
[9]
[2]
[ 2 10]
[10]
[10]
[10]
[10]
[10]
[2]
[10]
[2]
[10]
[10]
[2]
[2]
[ 2 10]
[2]
[2]
[2]
[2 4]
[2]
[2]
[0 1]
[6 5]
[7 5 9]
[9]
[2 6]
[2 5]
[2 9]
[ 7 11]
[ 7 11]
[2]
[ 0 15]
[2]
[7 9]
[12]
[10]
[ 7 13]
[ 7 13]
[ 7 13]
[ 7 13]
[9]
[6]
[3 6]
[3 5]
[7 6]
[12]
[6]
[ 7 10  9]
[11  9]
[1 2]
[2 6]
[6]
[6]
[6]
[ 5 13]
[2 5]
[7 9]
[2]
[2 5]
[2]
[6]
[9]
[9]
[8 6]
[2 5]
[ 6 15]
[6]
[1]
[6]
[6]
[2 6]
[6 9]
[ 3 11  9]
[6]
[10]
[10]
[10]
[9]
[ 0 14]
[2 6]
[12]
[2]
[2 6]
[6]
[ 2 14]
[2]
[2]
[6]
[ 2 10]
[10]
[6]
[2]
[3 9]
[7 6 4 5]
[ 6 15  5]

[2]
[ 6 15  5]
[0 1]
[ 6 14]
[10]
[7 3 2]
[7 3 2]
[7 9]
[6]
[2]
[2 5]
[6 5]
[1 2]
[6]
[2 5]
[2]
[ 6 13]
[2]
[7 6]
[7 6]
[6 5]
[3]
[17]
[ 2 13]
[10 15]
[3 0 1]
[10 11]
[10 11]
[10  9]
[10  9]
[6]
[7 3]
[6 5]
[2]
[6]
[12]
[6 5]
[6]
[7 8 6]
[2]
[2 6]
[2]
[ 7  3 11  9]
[8 9]
[2]
[6 5]
[6 5]
[17]
[17]
[2]
[7 2]
[6]
[2 6]
[6 5]
[6]
[6]
[12]
[6]
[6]
[6]
[14]
[2 5]
[2]
[2]
[6]
[6 9]
[16]
[14  5 13]
[6 5]
[6 5]
[ 7 13]
[15]
[ 2 14]
[7]
[7]
[7]
[3 6 5]
[ 7 17]
[8 9]
[1 2]
[6]
[6]
[7 8 9]
[6]
[6]
[6]
[6]
[2 6]
[2 5]
[8 6]
[6]
[7]
[6]
[6 9]
[ 3  4 11]
[6 5]
[3 6]
[14]
[ 6 13]
[2]
[10  9]
[6]
[ 6 10]
[2 6]
[2 5]
[6]
[6]
[12]
[10  9]
[9]
[12]
[ 7  8 11]
[ 7  8 11]
[ 3  0 16]
[6]
[7]
[7]
[7]
[10  9]
[7]
[6]
[10]
[6]
[2]
[5]
[2]
[7 3 0]
[6]
[12]
[2 6]
[2 5]
[9]
[6]
[12]
[9]
[6]
[6]
[6]
[2]
[ 2 10]
[2]
[9]
[10]
[10]
[10]
[8 6]
[7 6]
[10]
[2]
[2 5]
[10 11]
[17]
[10]
[10]
[2]
[7 6]
[ 2  6 17]
[2]
[11]
[ 2 11]
[0 1]
[ 2  6 13]
[3]
[ 2  6 17]
[6]
[2]
[2]
[2]
[2]
[2]
[15  5  9]
[2 6]
[2 5]
[6]
[2]
[ 2 13]
[6]
[6]
[2]
[ 6 13]
[0 1]
[9]
[9]
[2]
[10 11]
[6]
[2 6]
[ 2 14]
[ 7  6 13]
[9]
[9]
[6]
[13]
[2 6]
[6]
[6]
[ 3  2 11]
[6]
[2]
[6 5]
[17]
[9]
[2]
[12]
[6]
[6]
[ 6 11]
[10  5]
[7 9]
[2 6]
[12]
[10]
[2]
[2]
[2]
[6]
[6]
[ 6 13]
[6]
[ 6 17]
[6 5]
[6]
[2]
[2 5]
[6]
[2 5]
[6]
[9]
[9]
[6 5]
[7 3 2 8]
[6]
[6 5]
[7 6]
[2 6 5]
[6]
[6]
[6]
[6]
[7 9]
[0 1 2]
[6]
[6]
[ 6  5 13]
[6]
[10]
[2]
[16]
[ 6  5 17]
[2]
[2 6]
[6]
[6]
[6]
[6]
[2 6]
[2]
[2]
[2]
[2]
[ 6 13]
[6]
[12]
[ 7 13]
[6]
[7 3]
[2]
[6]
[12 14]
[ 6 13]
[2 5]
[6]
[2]
[6 9]
[6]
[15]
[6]
[ 8  6 15]
[6]
[7 3 4]
[ 6 13]
[6 5]
[ 2  6 11]
[1 2]
[6]
[ 0  1 14]
[6]
[6]
[2 6]
[6]
[6]
[7 6]
[3]
[6]
[3 6]
[6]
[17]
[6]
[3]
[6]
[2 6]
[ 3  2 11]
[ 6 15  9]
[2]
[6]
[6]
[2 6]
[6]
[12]
[6]
[7 2 8 6]
[6]
[6]
[6]
[12]
[2]
[ 3 11]
[6]
[6]
[12]
[6]
[6]
[ 6 13]
[7]
[6]
[ 2 14  5]
[2 6]
[6]
[6]
[9]
[9]
[10]
[5]
[3]
[7 2]
[6]
[2]
[6]
[6]
[0 1]
[6]
[6]
[10]
[6]
[6]
[9]
[6]
[6]
[6]
[6]
[6]
[2 5]
[12]
[2 6 9]
[2]
[8 6]
[9]
[2]
[2]
[2]
[2]
[2]
[17]
[12]
[9]
[2]
[2]
[2]
[2]
[2]
[2 5]
[6]
[6]
[2 8]
[2]
[9]
[6]
[ 6 15]
[6]
[2]
[2]
[2 6]
[7 9]
[7 6 5 9]
[2]
[6 5]
[6]
[2 6 5]
[ 6 15]
[2]
[ 2 10]
[7 8]
[7 2 8 6]
[7 9]
[7 2]
[ 3  5 11]
[6]
[6]
[8 6]
[10 15  9]
[7]
[7 2]
[2]
[6]
[12]
[7 3]
[10]
[12]
[2]
[7]
[2 5]
[3 6]
[2]
[0 1]
[6]
[6]
[2]
[9]
[16]
[ 6 11]
[10]
[6]
[6]
[12]
[6]
[2 6]
[ 7 11]
[2 8]
[2]
[12]
[8 6]
[16 10]
[2]
[2 6 5]
[2 6]
[2]
[7]
[17]
[6]
[2]
[7 6]
[14]
[7 9]
[2 6]
[9]
[6]
[2 5]
[2]
[2]
[2 8]
[2]
[2 6]
[ 2 11]
[12]
[8 6]
[6]
[6]
[6]
[3 1]
[6]
[ 8  6 16  9]
[8 6]
[6]
[2 6]
[12]
[13]
[10 11]
[2]
[ 6 13]
[2 6 5]
[10]
[3 1]
[10]
[6]
[8 9]
[2]
[6]
[10]
[6]
[2 5]
[11]
[9]
[12]
[6 5]
[2 5]
[6]
[6]
[2]
[2 8 6]
[2 6]
[ 8 16]
[17]
[ 7  3 13]
[13]
[ 5 17]
[8]
[6 9]
[6]
[ 7 13]
[17]
[6]
[11]
[5]
[ 6 13]
[6]
[6]
[16]
[2 6]
[6]
[ 6 14]
[7]
[2]
[ 6 15]
[2]
[2]
[7 3]
[3]
[2]
[2]
[2 4]
[2 5]
[2]
[1 2]
[1 2]
[1 2]
[1 2]
[0 1]
[ 3 11]
[6]
[6 9]
[7 6]
[7 6]
[ 7  3 13]
[2 6]
[6]
[6 9]
[2 6]
[6]
[3]
[8 6]
[5]
[6]
[6]
[ 3  2 11]
[7 6]
[2 8]
[6 9]
[2]
[2 5]
[6]
[2 6]
[6]
[6 5]
[8]
[6]
[0 2]
[7 6]
[7 6]
[7 6]
[7 6]
[7 6]
[ 8 16]
[6 5]
[6]
[7 1 4]
[7 1 4]
[7 1 4]
[ 7 13]
[7]
[7 6 9]
[7]
[15  9]
[2]
[6]
[ 2  6 13]
[6]
[2]
[2 6]
[7 5]
[6 5]
[2 5]
[6 9]
[6]
[6]
[6 5]
[ 6 10]
[2]
[3 6 9]
[2]
[2]
[11  9]
[6]
[2 4]
[ 6 17]
[6]
[6]
[3 6]
[ 6 11]
[10]
[2]
[11  9]
[6 5]
[10 15  9]
[2 6]
[6]
[3 4 5]
[6]
[2]
[6]
[0 1]
[9]
[10]
[11]
[17]
[10 11]
[3 4]
[10]
[2]
[3]
[10]
[ 3 17]
[2 6]
[6]
[2]
[6]
[10]
[2 6]
[2 5]
[6]
[ 6 11]
[2 6]
[9]
[2 6]
[2]
[17]
[6]
[6 9]
[2]
[6 5]
[6 9]
[6]
[2]
[2 5]
[8 6]
[6 9]
[ 7 13]
[2]
[2 8 6]
[6]
[7 9]
[2 5]
[2]
[2 6]
[ 7 11  9]
[6 5]
[8 9]
[2]
[2 6 5]
[2]
[6]
[2]
[ 2 10  9]
[2 5]
[2 6]
[2]
[12]
[5 9]
[7]
[6]
[2 6]
[2]
[14 13]
[6 9]
[6]
[2 6]
[14]
[10]
[9]
[2]
[6 9]
[6 5]
[7 9]
[2 6]
[9]
[6]
[6]
[6]
[6]
[2 6]
[ 7 10]
[1 2]
[2 6]
[2 6]
[2]
[6]
[2 6]
[6]
[6]
[10 11]
[10 11]
[10 11]
[6]
[ 7 10 11]
[6]
[7 6]
[6]
[6]
[6]
[6]
[6]
[7 6 5 9]
[ 3 13]
[6]
[10]
[8 6]
[10]
[2]
[2 6]
[ 0 11]
[ 7 11]
[6]
[2]
[2]
[2]
[6]
[ 2 14]
[ 2 14]
[ 2 17]
[14]
[2]
[14]
[ 6 14]
[14]
[ 2  6 17]
[2]
[12]
[14]
[0 1 2]
[ 3 14  5]
[2]
[2 5]
[0 1]
[2 5]
[2]
[2]
[2]
[2 6]
[ 6 10]
[2]
[7 9]
[7]
[12]
[2]
[10  9]
[ 7  6 13]
[2]
[10]
[2]
[2]
[7]
[9]
[7]
[6]
[6]
[ 7  5 11]
[7]
[2 6]
[6]
[17]
[ 7  6 13]
[17]
[6]
[2]
[6]
[10 11]
[6]
[10]
[10]
[10]
[12]
[ 7  6 13]
[6]
[8]
[6]
[11]
[11  9]
[10 11  9]
[10 11  9]
[10 11  9]
[10 11  9]
[10 11  9]
[10 11  9]
[10 11  9]
[7 2]
[6 5]
[2]
[13]
[ 2 17]
[3 1]
[3 1]
[3 1]
[14]
[ 6 10]
[12]
[6]
[12]
[12]
[17]
[17]
[ 6 16]
[6 5]
[2 6 5]
[9]
[11]
[2]
[2]
[2]
[2]
[ 2 10]
[ 2 10]
[ 2 10]
[ 2 10]
[ 2 10 11]
[ 7 11  9]
[ 7  3 11]
[ 3  6  5 11]
[ 6 11]
[ 8  6 11]
[ 7 11]
[ 7 11]
[ 7 11]
[7 3 5 9]
[16 15  9]
[6]
[10  9]
[10]
[7 2]
[6]
[2]
[6]
[6]
[2]
[7 8]
[7 8]
[12]
[2 5]
[6]
[2]
[2]
[6]
[ 6 13]
[ 0 14]
[7 9]
[ 2 10]
[9]
[7 8]
[ 6 15]
[6 9]
[10]
[6]
[6]
[8 6]
[6]
[ 6 17]
[6]
[2 5]
[7 2]
[8 6]
[ 6 13]
[2 5]
[7 8]
[ 3  0 11]
[ 6 13]
[6]
[2 5]
[6]
[6]
[0 1 2]
[2]
[ 7  6 13]
[0 1 2]
[7 3 9]
[6]
[10]
[ 6 11  9]
[ 0  1 14]
[2]
[8 6]
[10]
[7 8 9]
[7 8 9]
[6 5]
[ 7 13]
[ 7 13]
[ 7 13]
[7]
[ 3  8 11  9]
[7 3]
[10]
[2]
[2]
[ 0  1 14]
[ 0  1 14]
[ 2 10]
[2 6]
[11]
[11]
[7 8]
[7 8]
[8 6]
[2]
[ 2 10]
[2]
[2]
[ 6 15]
[6]
[6]
[6]
[17]
[ 7 11]
[2 6]
[6]
[5 9]
[9]
[9]
[0 1]
[6 5]
[ 6 15]
[ 7 11]
[6]
[2]
[7 3 6]
[17]
[7 3]
[ 6 13]
[2]
[6 9]
[ 6 13]
[2]
[6]
[2]
[6]
[2 6]
[ 2 14]
[2]
[1]
[2]
[6 5]
[6]
[6 5]
[6]
[10 11  9]
[ 7 11]
[2]
[2 5]
[ 2 10  9]
[2]
[10]
[10 11]
[3 6 5]
[9]
[ 7  2 13]
[10]
[10]
[10]
[10]
[7 2]
[10]
[10]
[6]
[6]
[2]
[10]
[6 9]
[9]
[8 9]
[2]
[2]
[6]
[6 5]
[6 5]
[6]
[9]
[2]
[12]
[8]
[2]
[2]
[11  9]
[ 7  3 11]
[ 2 12]
[2]
[6]
[2]
[2]
[6]
[ 6 17]
[6]
[ 2 17]
[2 5]
[10]
[6]
[7 3 4]
[11]
[7]
[12]
[12]
[2]
[2 6]
[2]
[2 5]
[6]
[6]
[6 5]
[7 3 4]
[12]
[8 6]
[10]
[2 9]
[6]
[8 9]
[8 9]
[2 6]
[7 2]
[2]
[2 6]
[2 6]
[6]
[6]
[6]
[2]
[8]
[6]
[10]
[2 5]
[ 6 14]
[2]
[2 6]
[12]
[6]
[6]
[6]
[10]
[10]
[10]
[6 4]
[2]
[2]
[10 11]
[2]
[2]
[ 3 11]
[ 3 11]
[ 2 10]
[2]
[10]
[10 11]
[10 11]
[10 11]
[11]
[10]
[6 9]
[11  9]
[10]
[10]
[10]
[10]
[10]
[2]
[2 6]
[3 0 1]
[7 6 9]
[9]
[2]
[6]
[6]
[6]
[6 9]

In [70]:
dummies.columns

Index(['Animation', 'Children's', 'Comedy', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'Sci-Fi',
       'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir', 'Western'],
      dtype='object')

In [78]:
dummies.iloc[0, [0,1,2]]

Animation     1.0
Children's    1.0
Comedy        1.0
Name: 0, dtype: float64

In [79]:
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
movies

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [82]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.head()

,movie_id,title,genres,Genre_Animation,Genre_Children's,Genre_Comedy,Genre_Adventure,Genre_Fantasy,Genre_Romance,Genre_Drama,...,Genre_Crime,Genre_Thriller,Genre_Horror,Genre_Sci-Fi,Genre_Documentary,Genre_War,Genre_Musical,Genre_Mystery,Genre_Film-Noir,Genre_Western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                              1.0
Genre_Children's                             1.0
Genre_Comedy                                 1.0
Genre_Adventure                              0.0
Genre_Fantasy                                0.0
Genre_Romance                                0.0
Genre_Drama                                  0.0
Genre_Action                                 0.0
Genre_Crime                                  0.0
Genre_Thriller                               0.0
Genre_Horror                                 0.0
Genre_Sci-Fi                                 0.0
Genre_Documentary                            0.0
Genre_War                                    0.0
Genre_Musical                                0.0
Genre_Mystery                                0.0
Genre_Film-Noir                              0.0
Genre_Western                                0.0
Name: 0, dtype: object

In [85]:
np.random.seed(12345)
values = np.random.rand(10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [88]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [118]:
# Manipulação de String

In [125]:
# Métodos de objetos string

In [126]:
val = 'a, b, guido'

In [127]:
val.split(',')

['a', ' b', ' guido']

In [128]:
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [129]:
first, second, third = pieces

In [131]:
first + '::' + second + '::' + third

'a::b::guido'

In [132]:
'::'.join(pieces) # defaz a lista e no lugar de , colocar ::

'a::b::guido'

In [133]:
'guido' in val

True

In [134]:
val.index(',')

1

In [136]:
val.find(':') # diferença de index

-1

In [138]:
val

'a, b, guido'

In [140]:
val.index('b')

3

In [141]:
val.count(',')

2

In [142]:
val.replace(',', '::')

'a:: b:: guido'

In [143]:
val.replace(',', '')

'a b guido'

In [146]:
# Expressões regulares para filtrar

In [147]:
# regex

In [148]:
# modulo re se enqundra em três categorias: correspondência, substituição e separação de padrões

In [150]:
import re #regex

In [151]:
text = "foo    bar\t baz  \tqux"

In [152]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [156]:
regex = re.compile('\s+') # instancia um objeto regex bom por conta que economiza ciclos de CPU
regex

re.compile(r'\s+', re.UNICODE)

In [157]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [159]:
regex.findall(text) # padrões que correspondem à regex

['    ', '\t ', '  \t']

In [195]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [161]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [162]:
pattern

'[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}'

In [163]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [164]:
regex

re.compile(r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}', re.IGNORECASE|re.UNICODE)

In [166]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [167]:
m = regex.search(text)

In [168]:
m

In [169]:
m.start()

5

In [170]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [201]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [202]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [203]:
m = regex.match("wesm@bright.net")

In [205]:
m.groups()

('wesm', 'bright', 'net')

In [206]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [208]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

In [209]:
# Funções de string vetorizadas no pandas

In [210]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
       'Rob': 'rob@gmail.com', 'Wes': np.nan}
data

{'Dave': 'dave@google.com',
 'Steve': 'steve@gmail.com',
 'Rob': 'rob@gmail.com',
 'Wes': nan}

In [211]:
data = pd.Series(data)

In [212]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [213]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [215]:
data.str.contains('gmail') # verifica se tem gmail

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [216]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [218]:
data.str.findall(pattern)

Dave      []
Steve     []
Rob       []
Wes      NaN
dtype: object

In [219]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [220]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

In [221]:
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object