In [1]:
import numpy as np
import pandas as pd

In [2]:
# ocupa 80% ou mais do tempo de um analista

In [3]:
# Tratando dados ausentes

In [7]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado']) # o valor nan é conhecido como valor sentinela
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [8]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [9]:
string_data[0] = None

In [10]:
string_data.isnull() # o valor None é conhecido também como valor nan

0     True
1    False
2     True
3    False
dtype: bool

In [12]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [14]:
string_data.dropna() # pega somente os valores que não são nan

1    artichoke
3      avocado
dtype: object

In [18]:
string_data.fillna('fill') # preenche os nan

0         fill
1    artichoke
2         fill
3      avocado
dtype: object

In [19]:
string_data.fillna('bfill') # preenche os nan

0        bfill
1    artichoke
2        bfill
3      avocado
dtype: object

In [20]:
string_data.notnull()

0    False
1     True
2    False
3     True
dtype: bool